@charset "gb2312";
.binfo_menu{clear:both;height:50px;width:970px;background-color:#FFF;border-bottom:1px #D0D0D0 solid;}
.binfo_m_i,a.binfo_m_i:hover{display:block;width:105px;height:50px;border-right:1px #d0d0d0 solid;float:left;text-decoration:none;}
.binfo_m_is{border-bottom:1px #f7f7f7 solid;background-color:#f7f7f7;}
.binfo_m_iso{width:546px;height:50px;border-bottom:1px #d0d0d0 solid;float:left;}
.binfo_m_img{display:block;width:22px;height:18px;margin:6px auto 0px auto;}
.binfo_m_all{background-position:-270px 0px;}
.binfo_m_all_s{background-position:-270px -18px;}
.binfo_m_up{background-position:-270px -252px;}
.binfo_m_up_s{background-position:-270px -270px;}
.binfo_m_com{background-position:-270px -216px;}
.binfo_m_com_s{background-position:-270px -234px;}
.binfo_m_sc{background-position:-270px -288px;}
.binfo_m_sc_s{background-position:-270px -306px;}
.binfo_m_name,.binfo_m_name_s{display:block;width:100%;height:25px;text-align:center;font-size:14px;line-height:28px;color:#646464;}
.binfo_m_name_s{color:#f08300;}
.btn_td_t{ margin:2px 0;line-height:22px;font-size:14px;font-weight:bold;}
.btn_td_m{ width:150px;float:left;margin:10px 0;line-height:22px;font-size:14px;}
.btn_td_m a{ color:Red;}
.red {color:red;}
th{height:30px;line-height:30px;background-color:#fff;font-size:12px;font-weight:normal;color:#646464;text-align:center;}

.binfo_m_isb{display:inline;float:right;margin:12px 25px 0px 0px;height:27px;width:360px;background-position:-0px -418px;overflow:hidden;}
.binfo_m_iskey{border:0px;height:19px;line-height:19px;width:223px;background:none;text-indent:22px;padding:4px 0px;}
.binfo_m_isbut{border:0px;height:27px;line-height:27px;width:62px;background:none;cursor:pointer;}

.col91{color:#919191;}
.colf0{color:#f08300;}
.col6c{color:#6ca33b;}
.binfo_cz_tbcon{width:940px;overflow:hidden;margin-bottom:10px;}
.binfo_cz_tbl{width:940px;background-color:#e5e5e5;}
.binfo_cz_tbl td{padding:10px;vertical-align:middle;}
.binfo_cz_tr td{background-color:#FFF;}
.binfo_cz_trc td{background-color:#f7f7f7;}
.binfo_cz_trsel td{background-color:#EEE;}
.binfo_cz_tblimg{width:120px;text-align:center;}
.binfo_cz_tblimg img{width:120px;height:120px;border:1px #e5e5e5 solid;}
.binfo_cz_tblinfo{width:260px;}
.binfo_cz_tblcom{width:160px;}
.binfo_cz_tblcz{text-align:center;}
.binfo_cz_ifb{width:100%;overflow:hidden;height:25px;line-height:25px;color:#646464;}
.binfo_cz_ifbut{height:25px;line-height:25px;width:80px;margin:0px auto;}
div.binfo_cz_ifbut a{float:left;width:80px;text-align:center;display:inline;height:25px;line-height:25px;color:blue;}
div.binfo_cz_ifbut a:hover{background-color:#f7f7f7;color:#f08300;}

.binfo_tblcom tr{cursor:pointer;color:#646464;}
.binfo_tblcom th{ height:40px;line-height:40px;}
.binfo_tblcom td{ height:30px;line-height:30px;}
.binfo_tdcom_con p{ padding:2px 10px;}
.binfo_tdcom_con p a{ color:#f08300;text-indent:5px;}
.binfo_cz{color:#6ca33b;}
.binfo_czd{color:#F08300;}

.allCheckbox,.Checkbox,.Checkboxed{ margin:0px auto;width:15px;height:15px;border:1px solid #d0d0d0;cursor:pointer;background-position:15px 15px;overflow:hidden;}
.Checkboxed{background-position:-225px -53px;}
.allCheckbox{margin-top:3px;}

.binfo_pt_box{width:100%;overflow:hidden;height:26px;line-height:26px;padding:5px 0px;}
.binfo_noth_box{width:100%;overflow:hidden;font-size:14px;line-height:25px;color:#666;}
.binfo_pt_allCheck{float:left;width:50px;height:24px;border:1px solid #d0d0d0;border-radius:5px;}
.binfo_pt_pb{float:left;width:50px;height:24px;line-height:24px;text-align:center;border:1px solid #d0d0d0;margin-left:15px;cursor:pointer;color:#646464;border-radius:5px;}

.binfo_pt_pages{width:500px;height:26px;overflow:hidden;float:right;}
.p_input_html{float:right;height:26px;line-height:26px;width:100px;}
.p_info_html span{color:#f08300;}
.p_input_page{text-align:center;margin:0px 3px;width:30px;height:20px;line-height:20px;border:1px solid #d0d0d0;border-radius:5px;}
.p_input_go{height:20px;border:1px solid #d0d0d0;margin-left:4px;font-family:Arial;font-size:10px;cursor:pointer;border-radius:5px;}
.nextpage,.uppage,a.nextpaged:hover,a.uppaged:hover{display:inline;float:right;width:50px;height:24px;line-height:24px;text-align:center;border:1px solid #d0d0d0;margin-right:10px;cursor:pointer;color:#646464;text-decoration:none;border-radius:5px;}
.p_info_html{float:right;height:26px;line-height:26px;width:100px;text-align:right;font-weight:bold;overflow:hidden;margin-right:10px;}

.binfo_m_issbox{height:27px;width:74px;background:none;}
.binfo_m_issbox input{cursor:pointer;display:block;color:#646464;border:0px;height:27px;line-height:27px;width:70px;padding-left:4px;background:none;outline:none;}
.binfo_m_issbox ul{width:72px;position:absolute;padding:0px;margin:0px;margin-top:26px;border:1px solid #ccc;overflow:hidden;display:none;background-color:#f7f7f7;z-index:2;color:#656565;}
.binfo_m_issbox ul li{display:block;height:25px;overflow:hidden;line-height:25px;padding-left:4px;width:68px;cursor:pointer;}
.hoversel{background:#6da238;color:#FFFFFF;}

.binfo_cz_box{width:940px;padding:15px;overflow:hidden;background-color:#FFF;min-height:600px;}
.binfo_tc_page{width:100%;overflow:hidden;padding:5px 0px;text-align:right;}
.paginator{font:11px Arial, Helvetica, sans-serif;margin:0px;width:auto;}
.paginator a{padding:4px 8px;border:solid 1px #ddd;background:#fff;text-decoration:none;margin-left:2px;display:inline;display:inline-block;height:15px;}
.paginator a:visited{padding:4px 8px;border:solid 1px #ddd;background:#fff;text-decoration:none;}
.paginator .cpb{padding:4px 8px;font-weight:bold;font-size:13px;border:none}
.paginator a:hover{color:#fff;background:#f08300;border-color:#f08300;text-decoration:none;}