.Grey {color:#646464;}
.page{clear:both;text-align:right;padding:20px 0px 20px 0px;}
.page a{height:25px;line-height:25px;padding:0px 10px;font-size:12px;border:1px #e1e1e1 solid;margin-right:5px;display:inline-block;}
.page span.act{height:25px;line-height:25px;padding:0px 10px;font-size:12px;border:1px #e1e1e1 solid;margin-right:5px;display:inline-block;  text-decoration:none;color:#fff;background:#00b7ec;}
.page a:hover,.page .act{ text-decoration:none;color:#fff;background:#00b7ec;}
.page span{}
.webdiyer_txt {padding:3px;} 
.webdiyer_btn { padding:3px 6px;; margin:0 5px;}

.bodywrap {display: block; position: relative; width: 1160px; margin: 30px auto;}
.bodywrap a{color:#666; text-decoration:none;}
.menu .menu_n {width:103px; height:53px; float:left; border-bottom:1px solid #d0d0d0; border-right:1px solid #d0d0d0; text-align:center;display:block; width:103px; height:53px; line-height:53px;}
.menu .menu_n:hover {text-decoration:none; color:#E4393C;}
.menu .menu_y {background-color:#f7f7f7; border-bottom:1px solid #f7f7f7; display:block; width:103px; height:53px;  color:#E4393C; line-height:53px;}
.menu .menu_fill1 {width: 866px; float: left; height: 53px; border-bottom: 1px solid #d0d0d0;}
.menu .menu_fill3 {width:550px; float:left; height:53px;} 
.menu .menu_fill4 {width:554px; float:left; height:3px; border-bottom:1px solid #d0d0d0;} 
.mright {display: inline-block; position: relative; margin: 0px 0px 20px -1px; padding: 0px; width: 970px; border: 1px solid rgb(208, 208, 208); border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; background: rgb(255, 255, 255); min-height:588px;}
.mright .SaleInfoTable { border-collapse: collapse; border: none; color: #656565; margin: 0px 20px; }
.mright .SaleInfoTable td {border: solid #e3e3e3 1px; padding: 7px;}
.LinkABlue a {color:#3065cf;}
.lblcount {height:27px; float:right; line-height:27px; padding:0 20px; color:#666; font-size:14px;}
/*-- public end --*/
#index {margin:20px; min-height:515px;}
#index .SaleInfoTable {margin:0px;cursor:pointer}
#index .SaleInfoTable tr:hover {background-color:#ededef;}
#index .SaleInfoTable .header {color:#646464;height:30px;text-align:center;font-weight:700; cursor:default;}
#index .SaleInfoTable .header:hover {background-color:#FFF;}
#index .SaleInfoTable .col-1 {width:275px;}
#index .SaleInfoTable .col-3 {width:100px; text-align:center; line-height:20px;}
#index .SaleInfoTable .col-3 a{color:#3366cc}
#index .SaleInfoTable .head-img img {border:1px solid #e3e3e3; width:60px; height:60px; padding:7px; border-radius:37px; margin-left:5px; float:left;}
#index .SaleInfoTable .user-info {margin:8px 0 0px 15px;float:left;line-height:22px; }
#index .SaleInfoTable .news-info {text-align:center;}
#index .SaleInfoTable .news-img img {width:70px; height:70px; display:block; float:left; border:1px solid #e3e3e3;margin-right:15px; padding:7px;}
#index .SaleInfoTable .news-info-content {line-height:26px; float:left; text-align:left;}
#index .SaleInfoTable .null-vaule {display:inline-block; margin:0 auto;}
/*-- Index end --*/
.GiftGiving_friend{ width:100%; padding-left:25px; margin-top:20px;}
.friendname{ width:400px; height:20px;}
.checkfriend{left:462px;top:71px;top:76px !important;position:absolute; width:20px; height:21px; overflow:hidden; z-index:0; overflow:hidden; cursor:hand; background-color:#ffffff}
.myfriend{ width:400px; border:1px solid #cccccc; margin-left:0px; display:none;left:80px;top:94px;position:absolute; z-index:1; background-color:#ffffff}
.mydiv1{ height:25px; line-height:25px; padding-left:5px;}
.mysp1{ float:left;}
.mysp2{ float:right;}
.mydiv2{ height:130px; overflow-y:scroll;}
.mydiv2 li{ width:120px;float:left; height:25px ; line-height:25px;}
.mydiv3{ width:100%; height:22px; margin-top:10px; margin-bottom:5px; padding:0 4px; overflow:hidden; line-height:25px;}
.button { border-left: #ffffff 1px ridge; border-right: #333333 1px ridge; border-top: #ffffff 1px ridge; border-bottom: #1c1c1c 1px ridge; color: #1c1c1c; background-color: #EBF2F9; cursor: hand; }
.container90{width:920px;margin:10px auto 0 auto;text-align:left; }
.boxList ul{ padding-left:0px; height:auto;overflow-y: auto;}
.boxListLi{ float:left; width:110px; height:180px; text-algin:center; line-height:30px;overflow:hidden; margin:5px 10px; }
.Listdiv1{ text-align:center; width:100%; padding-top:5px;}
.over1{float:left; width:108px; height:178px; text-algin:center; line-height:30px;overflow:hidden; margin:5px 10px;border:solid 1px #ffC698;}
.Listdiv2{ width:98%; margin-top:5px; overflow:hidden; height:20px; line-height:20px; text-align:center}
.Listdiv3{ width:98%; overflow:hidden; height:20px; line-height:20px; text-align:center}
.Listdiv4{ width:98%; overflow:hidden; height:25px; line-height:20px; text-align:center}
.UserLi {text-align:left;}
.UserLi li {float:left; display:block; width:230px; height:30px; bottom:5px; overflow:hidden;}

.over1 {float:left; width:108px; height:178px; text-algin:center; line-height:30px;overflow:hidden; margin:5px 10px;border:solid 1px #E4393C;}


#index .SaleInfoTable .col-3 a{border: 1px solid #999;color: #999; width:100px;display:inline-block;line-height: 25px;margin:2px auto;}
#index .SaleInfoTable .col-3 a.light{border: 1px solid #ff7f00;color: #333;}
.ContentFrame {margin-left: 20px; width: 910px; padding: 10px; border: 1px solid #030;}
.Xiaobao { color: #E4393C;}
.Xiaobao .Spacing1 .XiaoBaoBtnAdd:hover {background-color: #EF0000;}
.Xiaobao .Spacing1 .XiaoBaoBtnAdd {width: 160px; height: 30px; background-color: #E4393C; border-radius: 5px; border: 0px;color: #FFFFFF;font-weight: 700;font-size: 16px;line-height: 30px;text-align: center;cursor: pointer;}
.Xiaobao .Spacing1 {margin-top: 20px;margin-left: 10px;}
.Xiaobao .Spacing1 .obvious {font-weight: 700;color: red;}
.Xiaobao .MainTitel {margin-top: 20px;margin-left: 20px;font-weight: 700;font-size: 14px;}
.Xiaobao .ContentFrame li {margin-top: 10px;}
.Border_frame {

    width: 870px;
    margin-left: 15px;
    margin-top: 20px;
    padding: 25px 25px 25px 40px;
    border: 1px solid #d0d0d0;
    line-height: 26px;

}
.Border_frame {
    line-height: 26px;
}
.LinkABlueLine a {

    color: #3065cf;
    text-decoration: underline;

}
