/* --����-- */
.red {color:#f30000;}
.Grey {color:#646464;}
.clearboth {clear:both;}
.LinkABlue a {color:#3065cf;}
.btn {background-color:#e4393c; border:0px; padding:1px 5px; color:#FFFFFF; cursor:pointer;}
.sold-list-btn-1 {
    background-color:#e4393c; border:1px solid #e4393c; padding:1px 5px; color:#FFFFFF; cursor:pointer;
    margin:5px 3px 0 0; line-height:24px;}
.sold-list-btn-1:hover {
    background-color:#f19b34;
    }
.sold-list-btn-2 {
    border:1px solid #e4393c;line-height:24px; background-color:#FFFFFF; padding:1px 5px; color:#e4393c; cursor:pointer; margin:5px 3px 0 0;}
.sold-list-btn-2:hover{
    color:#F00;}
.btn:hover{background-color:#f19b34;}

.margin_left_10 {margin-left:10px;}
.btnSave {height:30px; background-color:#E4393C; border-radius:5px; border:0px; color:#FFFFFF; font-weight:700; /* font-size:14px; *//*  line-height:30px; */ text-align:center;cursor:pointer;}
.btnSave:hover {background-color:#E4393C;}
.btnRe {height:30px; margin-left:40px; background-color:#919191; border-radius:5px; border:0px; color:#eeeded; font-weight:700; font-size:16px; line-height:30px; text-align:center;}
.btnRe:hover {background-color:#a1a0a0;}
.ico {background:url(/myhome/Trade/images/ico.png) no-repeat;}
.input-text {width: 150px; height: 16px; padding: 6px 5px 6px 5px; border: 1px solid #d0d0d0; float: none; font-size: 12px; font-family: arial,"����"; outline: none;}
.ddl {height:34px; padding:3px; font-size:12px;outline:none;}

/*--��ҳ--*/
.page{clear:both;text-align:right;padding:20px 0px 20px 0px;}
.page a{height:25px;line-height:25px;padding:0px 10px;font-size:12px;border:1px #e1e1e1 solid;margin-right:5px;display:inline-block;}
.page span.act{height:25px;line-height:25px;padding:0px 10px;font-size:12px;border:1px #e1e1e1 solid;margin-right:5px;display:inline-block;  text-decoration:none;color:#fff;background:#00b7ec;}
.page a:hover,.page .act{ text-decoration:none;color:#fff;background:#00b7ec;}
.page span{}
.webdiyer_txt {padding:3px;} 
.webdiyer_btn { padding:3px 6px; margin:0 5px;}

.bodywrap{display:block;position:relative;width:1160px;margin:30px auto;}
.mright{display:inline-block;position:relative;margin:0px 0px 20px -1px;padding:0;width:970px;border:1px solid #d0d0d0;background:#fff; min-height:588px;}
.menu .menu_n {width:103px; height:53px; float:left; border-bottom:1px solid #d0d0d0; border-right:1px solid #d0d0d0; text-align:center;display:block; width:103px; height:53px; line-height:53px;}
.menu .menu_n:hover {text-decoration:none; color:#e4393c;}
.menu .menu_y {background-color:#f7f7f7; border-bottom:1px solid #f7f7f7; display:block; width:103px; height:53px;  color:#e4393c; line-height:53px;}
.menu .menu_fill1 {width:866px; float:left; height:53px; border-bottom:1px solid #d0d0d0;} 
.menu .menu_fill2 {width:762px; float:left; height:53px; border-bottom:1px solid #d0d0d0;} 
.menu .menu_fill3 {width:550px; float:left; height:53px;} 
.menu .menu_fill4 {width:554px; float:left; height:3px; border-bottom:1px solid #d0d0d0;} 
.menu .menu_fill5 {width:450px; float:left; height:3px; border-bottom:1px solid #d0d0d0;} 
.soInOut {height:50px; line-height:50px; width:490px; float:right;}
.mright .soddlstyle {padding:3px; border:1px solid #ced2cd;}
.mright .sotxt {padding:4px; border-right:0px; border-left:0px; border-top:1px solid #ced2cd; border-bottom:1px solid #ced2cd; width:120px;}
.mright .soBtn {padding:4px; color:#FFFFFF; background-color:#E4393C; border:1px solid #ced2cd; width:50px; cursor:pointer; }
.mright .soBtn:hover{background-color:#EF0000;}
.mright .menuTwo {padding:10px 20px; border-bottom:1px solid #d0d0d0;}
.mright .menuTwo a{margin-left:10px;}
.mright .SaleInfoTable {border-collapse:collapse; border:none; color:#656565; margin:0px 20px;}/*������ɫ*/
.mright .SaleInfoTable td {border:solid #e3e3e3 1px; padding:5px; }
.mright .orderdate {margin-left:30px;}
.mright .remark {float:right; width:70px; text-align:center;}
.mright .PriceHistory {float:right; width:80px; text-align:center;}
.mright .repImg {width:102px; height:102px; border:1px solid #e3e3e3; padding:5px; float:left;}
.mright .prodname {float:left; margin-left:10px; line-height:18px; width:120px; height:105px; overflow:hidden;}
.mright .mofter{height:80px;line-height:80px;}
.mright .SaleUser {width:100px; line-height:26px;}
.mright .tradeState div {line-height:24px;}
.mright .tabview_cel {display:block; float:left; padding:5px 10px; margin-top:10px;}
.mright .tabview_cur {display:block; font-weight:700; float:left; padding:4px 10px; margin-top:10px; border-radius:4px; background-color:#E4393C; color:#FCF9F9;}
.mright .Prompt_box_Grey { margin:20px; line-height:20px; padding:10px; background-color:#f7f7f7;}
.info_Title {margin:0px 30px; font-weight:700; font-size:13px;}
.mright .Prompt {border:1px solid #e4393c; margin:10px; line-height:20px; padding:10px;}
.GoodsFrom {color:#9A9697; margin-top:53px;}
.FromFlag {margin-left:15px;}

/*--�ҵ���--*/
.bought_list btn {background-color:#e4393c; border:0px; border-radius:4px; color:#FFFFFF; cursor:pointer; padding:2px 6px;}
.bought_list .del {line-height:20px;}

/*- ���ײ��� --*/
.buyStep {width:760px; height:80px; overflow:hidden; margin:0 auto;}
.buyStep .img_step {width:40px; height:40px; float:left; text-align:center; line-height:38px; font-weight:700; color:#FFF; font-size:16px; overflow:hidden;}
.buyStep .img_step_y {background-position:-41px 0px;}
.buyStep .img_step_n {background-position:0px 0px;}
.buyStep .title {width:100px; height:40px; float:left; overflow:hidden; margin-left:10px; line-height:38px; font-size:14px;}
.buyStep .title_y {font-weight:700;}
.buyStep .line {width:150px; height:15px; float:left; overflow:hidden; border:0px; }
.buyStep .line_left_y {background-position:0px -60px;}
.buyStep .line_left_n {background-position:0px -42px;}
.buyStep .line_midd_y {background-position:-5px -132px;}
.buyStep .line_midd_n {background-position:-5px -114px;}
.buyStep .line_righ_y {background-position:-20px -96px;}
.buyStep .line_righ_n {background-position:-20px -78px;}
.buyStep .Date {width:150px; height:30px; line-height:30px; text-align:center; float:left; overflow:hidden; color:#929292;}

.orderconfirm {color:#646464;}
.orderconfirm .Prompt_box_Grey span{color:#f30;}
.orderconfirm .DeOrder {border:1px solid #e3e3e3; margin:10px 20px; line-height:20px; padding:10px;}
.orderconfirm .DeTable {margin-top:20px;}
.orderconfirm .DeTable td {padding:7px;}
.orderconfirm .DeTable .InfoPwd {margin-left:10px;}
.orderconfirm .DeTable .input-text {width: 150px; height: 16px;	padding: 6px 5px 6px 5px; border: 1px solid #d0d0d0; float:none; font-size: 12px; 	font-family: arial,"����"; outline:none;} 

.tradeDetail .OrderDataList {margin:30px; line-height:22px;}
.tradeDetail .logistics_order {border-collapse:collapse; border:none; color:#656565; margin:30px;}
.tradeDetail .logistics_order td {border:solid #e3e3e3 1px; padding:7px; }
.tradeDetail .logistics_order #lbUpdateWuliu {margin-left:20px; cursor:pointer;}
.tradeDetail .column1 {width:180px; text-align:center;}
.tradeDetail .alternating{ background-color:#f7f7f7;}
.tradeDetail .kd_win{margin-left:-280px; width:550px; overflow:hidden; background-color:#009292; padding:10px; display:none; position:absolute; left:50%; top:340px;}
.tradeDetail .kd_title {height:30px;line-height:30px;text-align:center;color:Black;font-size:16px;font-weight:bolder; color:#FFF;}
.tradeDetail .kdclose{font-size:12px;color:#0579C6;text-decoration:underline;font-weight:bold;margin-left:5px;cursor:pointer;}
.tradeDetail .btn {height:22px; border-radius:5px; border:0px; color:#FFFFFF; font-size:12px; line-height:22px; text-align:center;cursor:pointer; border:0px;}
.tradeDetail .btn:hover {background-color:#faa947;}
.tradeDetail .kdclose{display:block; width:22px; height:22px; background:#009292 url(/myhome/Trade/images/ico.png) no-repeat -88px -12px;margin-left:5px;cursor:pointer; float:right;}
.tradeDetail .kdclose:hover {background-position:-124px -12px;}
.tradeDetail #updateWuliu {position:absolute;left:160px;top:400px;width:450px;height:270px;z-index:1; border:solid #B7B7B8 4px; background-color:#F7F7F7; font-size:14px;}
.tradeDetail #updateWuliu #TitleUpdate {text-align:center; font-weight:bold; height:26px; line-height:26px; background-color:#B7B7B8; border-bottom:1px; cursor:pointer;}
.tradeDetail #updateWuliu .close{float:right; margin-right:5px;}
.tradeDetail #updateWuliu .Update-txt {padding-top:20px;}
.tradeDetail #updateWuliu .Update-txt li {line-height:40px; padding-left:70px;
}
.tradeDetail #updateWuliu .Update-txt li span {width:100px; display:inline-block;}
.tradeDetail #btnUpdateWl {margin:30px 0 0 120px; padding:5px 20px;}
.tradeDetail #tbCode {padding:5px; width:126px;}
.tradeDetail #ddlwl {height:29px; padding:3px;outline:none; width:140px;}
/*tradeDetail*/

.punish_detail .title {margin:20px 20px 0px 20px; padding:10px; font-size:16px; font-weight:700; background-color:#f7f7f7;}
.punish_detail .title2 {margin:0px 20px; padding:10px;  font-size:12px;}
.punish_detail .title2 span {color:#f30000; }
.punish_detail .detail_info {color:#4d4c4c;}
.punish_detail .detail_info span {color:#9a9998;}

/* tradeDetail */

.punish .info_Title {margin:0px 30px; font-weight:700; font-size:13px; color:#646464;}
.punish .punish_Table {border-collapse:collapse; border:none; color:#656565; margin:0px 20px 30px 20px;}
.punish .punish_Table td {border:solid #e3e3e3 1px; padding:7px; height:26px;}
.punish .Punishi_Type_select {height:34px; padding:3px; font-size:12px;outline:none;}
.punish .punish_btn {width:96px; height:30px; background-color:#e4393c; border-radius:5px; border:0px; color:#FFFFFF; font-weight:700; font-size:16px; line-height:30px; text-align:center;cursor:pointer;}
.punish .punish_btn:hover {background-color:#faa947;}
.punish .punish_btnRe {width:96px; height:30px; margin-left:40px; background-color:#919191; border-radius:5px; border:0px; color:#eeeded; font-weight:700; font-size:16px; line-height:30px; text-align:center;}
.punish .punish_btnRe:hover {background-color:#a1a0a0;}

.refund_detail .logistics_order {border-collapse:collapse; border:none; color:#656565; margin:30px;}
.refund_detail .logistics_order td {border:solid #e3e3e3 1px; padding:7px; }
.refund_detail .column1 {width:180px; text-align:center;}
.refund_detail .alternating{ background-color:#f7f7f7;}
.refund_detail .Prompt_box_Grey { margin:20px; line-height:20px; padding:10px; background-color:#f7f7f7;}
.refund_detail .info_Title {margin:0px 30px; font-weight:700; font-size:13px;} 
.refund_detail .box_Add {margin:10px 0 10px 20px;}
.refund_detail .box_Add td {padding:5px;}
.refund_detail .box_Add #wuliucompany {height:34px; padding:3px; font-size:12px;outline:none;}
.refund_detail .box_Add #txtwuliuCode {width: 150px; height: 16px;	padding: 6px 5px 6px 5px; border: 1px solid #d0d0d0; float:none; font-size: 12px; 	font-family: arial,"����"; outline:none;}
.refund_detail .box_Add #btnAdd {background-color:#e4393c; border:0px; padding:1px 5px; border-radius:4px; color:#FFFFFF; cursor:pointer; padding:5px 10px;}
.refund_detail .box_Add #btnAdd:hover{background-color:#f19b34;}

.pay_in .title { margin-left:30px; margin-top:30px; margin-bottom:15px; color:#646464; font-size:14px; font-weight:700;}
.pay_in .show_frame {width:890px; margin-left:15px; padding:25px 0 50px 40px; border:1px solid #E4393C;}
.pay_in .show_frame1 {width:890px; margin-left:15px; padding:25px; border:1px solid #e4393c; line-height:26px;}
.pay_in .show_frame .stepWords4 {height:40px;padding:0 15px 0 10px;font-size:14px; line-height:40px; letter-spacing:2px; color:#FFF; float:left; background-position:-80px -154px;}
.pay_in .show_frame .stepWords6 {height:40px;padding:0 15px 0 10px;font-size:14px; line-height:40px; letter-spacing:2px; color:#FFF; float:left; background-position:-48px -154px;}
.pay_in .show_frame .stepWords7 {height:40px;padding:0 15px 0 10px;font-size:14px; line-height:40px; letter-spacing:2px; color:#FFF; float:left; background-position:-31px -154px;}
.pay_in .show_frame .stepWords8 {height:40px;padding:0 15px 0 10px;font-size:14px; line-height:40px; letter-spacing:2px; color:#FFF; float:left; background-position:-16px -154px;}
.pay_in .show_frame .stepWords9 {height:40px;padding:0 15px 0 10px;font-size:14px; line-height:40px; letter-spacing:2px; color:#FFF; float:left; background-position:0px -154px;}
.pay_in .show_frame .stepWords8End {height:40px; padding:0 10px; font-size:14px; line-height:40px; letter-spacing:2px; color:#FFF; float:left; background-position:-5px -154px;}
.pay_in .show_frame .p1 {clear:both; width:670px; line-height:20px; padding-top:15px;}
.pay_in .show_frame .p2 {clear:both; width:670px; line-height:20px; font-weight:700; color:#f00000}
.pay_in .show_frame .btn {width:90px; height:26px; padding:1px 5px; background-color:#E4393C; border-radius:5px; border:0px; color:#FFFFFF; font-weight:700; font-size:16px; line-height:26px; text-align:center;cursor:pointer;}
.pay_in .show_frame .btn:hover {background-color:#EF0000; text-decoration:none;}
.pay_in .pay_in_table td {padding:10px 10px; line-height:20px; color:#656565;}
.pay_in .pay_in_table img {width:163px; height:50px; border:0px;}
.pay_in .calculator td{height:30px; padding:0 5px; line-height:30px;}
.pay_in .calculator .btncal{ width:70px; height:26px; background-color:#e4393c; border-radius:5px; border:0px; color:#FFFFFF; font-weight:700; font-size:12px; text-align:center;cursor:pointer;}
.pay_in .calculator .btncal:hover {background-color:#faa947; text-decoration:none;}
.pay_in .calculator .txt{width: 150px;height: 16px;padding: 6px 5px 6px 5px;border: 1px solid #d0d0d0;float: none;font-size: 12px;font-family: arial,"����";outline: none;}
.pay_in .Bank_radio td{ padding:8px 5px; height:35px;}
.pay_in .Bank_radio li .radspan { margin-top:30px; vertical-align:middle; display:block;}
.pay_in .Bank_radio .btncal{ width:120px; height:36px; background-color:#e4393c; border-radius:5px; border:0px; color:#FFFFFF; font-weight:700; font-size:16px; text-align:center;cursor:pointer;}
.pay_in .Bank_radio .btncal:hover {background-color:#faa947; text-decoration:none;}
.pay_in .remit_table {margin:20px 0 30px 10px;}
.pay_in .remit_table td {height:30px; padding:2px;}
.pay_in .remit_table .column1 {width:150px; text-align:right;}
.pay_in .remit_table .txt {width: 150px;height: 16px;padding: 6px 5px 6px 5px;border: 1px solid #d0d0d0;float: none;font-size: 12px;font-family: arial,"����";outline: none;}
.pay_in .remit_table .ddl  {height:34px; padding:3px; font-size:12px;outline:none;}
.pay_in .remit_table .must {color:#F00; padding-left:10px;}
.pay_in .remit_table .btncal{ width:80px; height:26px; background-color:#e4393c; border-radius:5px; border:0px; color:#FFFFFF; font-weight:700; font-size:16px; text-align:center;cursor:pointer;}
.pay_in .remit_table .btncal:hover {background-color:#faa947; text-decoration:none;}

.PayTable {border-collapse:collapse; border:none; color:#656565;}
.PayTable td {border:solid #e3e3e3 1px; padding:7px; }
.PayTable .column1 {width:150px; text-align:right;}
.btncal,.PayTable .btnclose{ width:80px; height:26px; background-color:#e4393c; border-radius:5px; border:0px; color:#FFFFFF; font-weight:700; font-size:16px; text-align:center;cursor:pointer;}
.btnclose {background-color:#CECECE; text-decoration:none;margin-left:20px;}
.btncal:hover {background-color:#faa947; text-decoration:none;}
.btninfobox {text-decoration:none;width:120px;height:35px;background-color:#E4393C;border-radius:5px;border:0px;color:#FFFFFF;font-weight:700;font-size:16px;text-align:center;cursor:pointer;margin-top:10px;margin-right:20px;}
.small_btn{text-decoration: none;width: 100px;height: 30px;background-color: #E4393C;border-radius: 5px;border:0px;color:#FFFFFF;
font-weight: 700;font-size: 16px;text-align: center;cursor: pointer;margin-left: 10px;}
.PayTable .txt {width: 150px;height: 16px;padding: 6px 5px 6px 5px;border: 1px solid #d0d0d0;float: none;font-size: 12px;font-family: arial,"����";outline: none;}
.PayTable .ddl {height:34px; padding:3px; font-size:12px;outline:none;}
.PayTable .ddd {width:20px; height:20px; background-color:#030;}

.bought_pay .info_Title {margin:30px 30px 0 30px; font-weight:700; font-size:13px;}

.refund .info_Title {margin:30px 30px 0 30px; font-weight:700; font-size:13px;}
.remind {color: red;margin-left: 20px; }
.remind a {color: blue;}
.refund .info_Title {margin:30px 0px 0 30px; font-weight:700; font-size:13px; color:#646464;}
.refund .btnSave {height:30px; padding:0 10px; background-color:#e4393c; border-radius:5px; border:0px; color:#FFFFFF; font-weight:700; font-size:14px; line-height:30px; text-align:center;cursor:pointer;}
.refund .btnSave:hover {background-color:#faa947;}
.refund .btnRe {height:30px; padding:0 10px; margin-left:40px; background-color:#919191; border-radius:5px; border:0px; color:#eeeded; font-weight:700; font-size:16px; line-height:30px; text-align:center;}
.refund .btnRe:hover {background-color:#a1a0a0;}
.refund .pa {margin:5px 0 5px 20px;}
.refund .pa td {padding:5px;}


.soldconfirm {color:#646464;}
.soldconfirm .info_Title {margin:30px 30px 0 30px; font-weight:700; font-size:16px;}
.soldconfirm .info_Title span {color:#FF6600;}
.soldconfirm .OrderDataList {margin:30px; line-height:22px;}

.refund_oprate .info_Title {margin:30px 30px 0 30px; font-weight:700; font-size:16px;}
.refund_oprate .textb { margin-left:20px; margin-top:10px;}
.refund_oprate .butt { margin-top:20px; margin-left:150px; margin-bottom:30px;}

.AdActionList .Table {border-collapse:collapse; border:none; color:#656565; margin:30px 0 10px 20px;}
.AdActionList .Table td {border:solid #e3e3e3 1px; padding:7px; }

.bankInfoTable {width:98%; margin:10px 10px;border-collapse:collapse; border:none; color:#656565;}/*������ɫ*/
.bankInfoTable td {border:solid #e3e3e3 1px; padding:7px; }/*����ɫ*/
.bankInfoTable th {border:solid #e3e3e3 1px; padding:7px; font-weight:700; text-align:center; }/*����ɫ*/
.bankInfoTable a {color:#3366cc;}
.bankInfoTable .btnSave1 {margin-left:10px; background-color:#999;}
.bankInfoTable .btnSave2 {margin-left:10px;}
.btnSave1 {width:60px; height:21px; background-color:#e4393c; border-radius:5px; border:0px; color:#FFFFFF; font-size:14px; line-height:21px; text-align:center;cursor:pointer;}
.btnSave1:hover {background-color:#faa947;}
.btnSave2 {width:60px; height:21px; background-color:#6ac33b; border-radius:5px; border:0px; color:#FFFFFF; font-size:14px; line-height:21px; text-align:center;cursor:pointer;}
.btnSave2:hover {background-color:#5cb92c;}

.closebtn {background: #fff;color: #000;border: 1px solid #000;border-radius: 0;line-height: 24px;font-size: 14px;padding: 1px 5px;cursor: pointer;}
#timer {color: #FF0000}