@charset "gb2312";
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.jd_menu{clear: both;height:50px;width: 970px;background-color:white;border-bottom:1px #D0D0D0 solid;}
.jd_m_i,a.jd_m_i:hover{display:block;width:105px;height:50px;border-right:1px #d0d0d0 solid;float:left;cursor:pointer;text-decoration: none;}
.jd_m_is{border-bottom:1px #f7f7f7 solid;background-color:#f7f7f7;}
.jd_m_iso{height:50px;float:right;}
.jd_m_img{display:block;width:22px;height:18px;margin: 6px auto 0px auto;}
.jd_m_all{background-position:-270px -180px;}
.jd_m_all_s{background-position:-270px -198px}
.jd_m_up{background-position:-248px -252px;}
.jd_m_up_s{background-position:-248px -270px;}
.jd_m_com{background-position:-270px -216px}
.jd_m_com_s{background-position:-270px -234px;}
.jd_m_name,.jd_m_name_s{display:block;width:100%;height:25px;text-align:center;font-size:14px;line-height:28px;color:#646464;}
.jd_m_name_s{color:#f08300;}
.jd_m_tstr,.jd_m_tstr_s{display:block;width:100%;height:50px;line-height:50px;text-align:center;color:#646464;font-size:15px;}
.jd_m_tstr_s{color:#f08300;}
.btn_jd_t{ margin:2px 0;line-height:22px; font-size:14px;font-weight:bold;}
.btn_jd_m{ width:150px; float:left;margin:10px 0; line-height:22px; font-size:14px;}
.btn_jd_m a{ color:Red;}
.red {color: red;}
th{height:30px;line-height: 30px;background-color:#fff;font-size:12px;font-weight:normal;color:#646464;text-align:center;}

.jd_s_link{clear:both;height:38px;width:970px;background-color:#F7F7F7;border-bottom:1px #D0D0D0 solid;}
.jd_s_l_i,.jd_s_l_i_s{display:inline;float:left;width:73px;height:23px;line-height:23px;color:#646464;font-size:14px;text-align:center;}
a.jd_s_l_i:hover,a.jd_s_l_i_s:hover,.jd_s_l_i_s{background-image:url(../images/msg_ico.png);background-repeat:no-repeat;background-position:-11px -183px;color:#FFF;text-decoration:none;}
.jd_s_l_ib,.jd_s_l_ib_s,.jd_s_l_ilb,.jd_s_l_ilb_s{display:inline;float:left;height:23px;line-height:23px;color:#646464;font-size:14px;text-align:center;width:87px;text-indent:10px;background-image:url(../images/msg_ico.png);background-repeat:no-repeat;background-position:-105px -237px;}
.jd_s_l_ilb{background-position:-106px -307px;}
a.jd_s_l_ib:hover,a.jd_s_l_ib_s:hover,.jd_s_l_ib_s,a.jd_s_l_ilb:hover,a.jd_s_l_ilb_s:hover,.jd_s_l_ilb_s{width:87px;text-indent:10px;background-image:url(../images/msg_ico.png);background-repeat:no-repeat;background-position:-105px -183px;color:#FFF;text-decoration:none;}

.jd_pt_box{width:100%;overflow:hidden;height:26px;line-height:26px;padding:5px 0px;}
.jd_pt_allCheck{float:left;width:50px;height:24px;border:1px solid #d0d0d0;border-radius:5px;}
.jd_pt_pb{float:left;min-width:50px;padding:0px 5px;height:24px;line-height:24px;text-align: center;border:1px solid #d0d0d0;margin-left:15px;cursor:pointer;color:#646464;border-radius:5px;}
.jd_pt_pages{width:500px;height:26px;overflow:hidden;float:right;}
.p_input_html{float:right;height:26px;line-height:26px;width:100px;}
.p_info_html span{color:#f08300;}
.p_input_page{text-align:center;margin:0px 3px;width:30px;height:20px;line-height:20px;border:1px solid #d0d0d0;border-radius:5px;}
.p_input_go{height:20px;border:1px solid #d0d0d0;margin-left:4px;font-family:Arial;font-size:10px;cursor:pointer;border-radius:5px;}
.nextpage,.uppage,a.nextpaged:hover,a.uppaged:hover{display:inline;float:right;width:50px;height:24px;line-height:24px;text-align: center;border:1px solid #d0d0d0;margin-right:10px;cursor:pointer;color:#646464;text-decoration: none;border-radius:5px;}
a.nextpaged,a.uppaged,a.nextpaged:hover,a.uppaged:hover{color:#A8A8A8;}
.p_info_html{float:right;height:26px;line-height:26px;text-align:right;font-weight:bold;overflow:hidden;margin-right:10px;}

.jd_m_menu{width:100%;overflow:hidden;margin-bottom:10px;position:relative;z-index:1;}
.jd_m_menu > a{float:left;padding:0px 12px;height:30px;line-height:30px;border-bottom:3px #FFF solid;color:#646464;}
.jd_m_menu a:hover,a.jd_m_masel{border-bottom:3px #f08300 solid;color:#f08300;background-color:#f7f7f7;text-decoration:none;}
.jd_m_mbor{width:100%;height:1px;overflow:hidden;background-color:#e4393c;position:absolute;bottom:1px;_bottom:0px;left:0px;z-index:2;}
.jd_m_isb{display:inline;float:right;margin:12px 15px 0px 0px;height:27px;width:300px;overflow:hidden;border:1px #d0d0d0 solid;background-color:#f7f7f7;}
.jd_m_iskey{padding:3px 3px 3px 23px;height:21px;line-height:21px;border:0px;width:180px;color:#636363;}
.jd_m_isbut{width:94px;border:0px;background-color:#F08300;height:27px;line-height:27px;color:white;text-align:center;cursor:pointer;}

.col91{color:#919191;}
.colf0{color:#f08300;}
.jd_cz_tbcon{width:940px;overflow:hidden;margin-bottom:10px;}
.jd_cz_tbl{width:940px;background-color:#e5e5e5;}
.jd_cz_tbl td{padding:10px;vertical-align:middle; border:1px #e5e5e5 solid;}
.jd_cz_tr td{background-color:#FFF;}
.jd_cz_trc td{background-color:#f7f7f7;}
.jd_cz_trsel td{background-color:#EEE;}
.jd_cz_tblimg{width:120px;text-align:center;}
.jd_cz_tblimg img{width:120px;height:120px;border:1px #e5e5e5 solid;}
.jd_cz_tblinfo{width:260px;}
.jd_cz_tblcom{width:300px;}
.jd_cz_tblcz{text-align:center;}
.jd_cz_ifb{width:100%;overflow:hidden;height:25px;line-height:25px;color:#646464;}
.jd_cz_ifbut{height:25px;line-height:25px;width:80px;margin:0px auto;}
div.jd_cz_ifbut a{float:left;width:80px;text-align:center;display:inline;height:25px;line-height:25px;color:blue;}
div.jd_cz_ifbut a:hover{background-color:#f7f7f7;color:#f08300;}

.jd_com_tbl tr{cursor:pointer;}
.jd_com_tbl tr td{vertical-align:middle;border-bottom:1px #d0d0d0 solid;}
.jd_com_con{width:740px;padding-left:10px;text-align:left;}
.jd_com_con a{line-height:25px;font-size:14px;color:#646464;}
.jd_com_con a:hover{color:#f08300;text-decoration:underline;}
.jd_com_time{width:140px;text-align:center;line-height:35px;color:#919191;}
.jd_com_edit{text-align:center;}
.jd_com_edit a{line-height:25px;color:#646464;}
.jd_com_edit a:hover{color:#6ca33b;text-decoration:underline;}

.jd_ggxx{height:26px;line-height:26px;border:1px #F26161 solid;background-color:#FFE8E8;overflow:hidden;text-indent:10px;margin-bottom:5px;}
.jd_ggxx a,.jd_ggxx a:hover{color:#f26161;text-indent:40px;text-decoration:underline;}
.jd_ggxx .gx_close{display:inline;width:30px;height:26px;background-position:-220px -236px;float:right;cursor:pointer;}
.jd_rgrx{height:35px;line-height:35px;border-bottom:1px #e5e5e5 solid;background-color:#f7f7f7;overflow:hidden;text-indent:5px;margin-bottom:5px;}
.jd_rgrx span{font-weight:bold;color:#f08300;}
.jd_rgrx a{font-weight:bold;color:#6ca33b;}
#ddlPCate,#ddlCate{width:150px;height:25px;line-height:25px;font-size:14px;}

.w95{ width:95px;line-height:40px;font-weight:normal;font-size:12px;text-align:right;}
.w60{ width:65px;line-height:40px;font-weight:normal;font-size:12px;text-align:right;}
.w95_30{ width:95px;line-height:30px;font-weight:normal;font-size:12px;text-align:right;}
.w300{ width:300px;}

.JD_box{ float:left; width:470px; padding:10px 0 0 0;}
.JD_box font,.JD_box span{ LINE-HEIGHT:22px;float:left;PADDING-LEFT:18px;DISPLAY:inline-block;HEIGHT:22px;CURSOR:pointer;MARGIN-RIGHT:8px;color:#333 }

.JD_box .msg{ margin-top:0px;float:left;height:20px;line-height:20px;}
.JD_box font p { margin:0;}
.JD_pwd{ width:590px;margin:3px 0 0 0;float:left;}
.JD_pwd ul{ width:100%;line-height:35px;float:left;}
.JD_pwd ul li{ height:25px;padding:5px 0px;float:left;width:100%;}

.btn_y80_25,.btn_b80_25{height:28px;border:none;width:94px;background-position:-12px -46px;color:#ffffff;font-size:14px;line-height:28px;font-weight:bold;cursor:pointer;}
.btn_b80_25{background-position:-114px -46px;color:#646464;}
.sp_yaoqiu{width:75px;height:25px;line-height:25px;text-align:center;background-color: #FF0000;font-weight:bold;color:#fff;padding:0px 5px;margin-left:5px;cursor:help;position:relative;}
#infoup{ position: absolute; top: -187px; left: 0px; color: rgb(168, 11, 7); width: 620px; background-color: rgb(255, 255, 255); text-align: left; padding: 5px; border: 1px solid rgb(255, 186, 83); margin-left: 85px; display: none;text-indent:0;z-index:1000; }
/* Complete */
#thumbnails { PADDING:5px 10px 5px 0;LIST-STYLE-TYPE:none;float:left;WIDTH:900px;HEIGHT:auto;LIST-STYLE-IMAGE:none;margin:0;}
.portlet,.portlet1{display:inline;BACKGROUND:#fff;WIDTH:130px;height:auto;CURSOR:move;float:left;margin:0px;padding:0px;margin-right:20px;}
.portlet:hover img ,.portlet1:hover img{border:1px solid #f08300;}
.portlet:hover .portlet_topper A ,.portlet1:hover .portlet_topper A{background-position:-332px -18px;}
.portlet_topper {height:15px;width:130px;text-align:right;position:relative;}
.portlet_topper A {background-image:url(../images/msg_ico.png);background-repeat:no-repeat;width:18px;height:18px;display:block;position:absolute;right:-8px;margin-top:5px;cursor:pointer;background-position:-332px -55px;overflow:hidden;text-indent:10000px;line-height:18px;}
.portlet_content {width:130px;height:130px;}
.portlet_content img{width:128px;height:128px;border:1px solid #e5e5e5;}
.sort_placeholder { BACKGROUND:#bba}
.blue1 {background-color:#f7f7f7;width:580px;overflow:hidden;margin:0px auto;padding:5px 10px;margin-top:10px;}
.progressName{font-size:12px;font-weight:700;color:#555;width:150px;height:14px;text-align:left;white-space:nowrap;overflow:hidden;float:left;margin-right:5px;}
.progressBarInProgress,.progressBarComplete,.progressBarError {font-size:0;width:0;height:6px;background-color:#6da238;margin:4px 0px;float:left;}
.progressBarComplete{width:100px;background-color:green;visibility:hidden;float:left;}
.progressBarError {width:100%;background-color:red;visibility:hidden;}
.progressBarStatus{width:250px;font-size:8pt;	font-family:Arial;	text-align:left;white-space:nowrap;float:left;color:#929292;}
a.progressCancel{font-size:0;display:block;height:14px;width:14px;float:right;float:left;}
a.progressCancel:hover {background-position:0px 0px;}
/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {vertical-align:top;}
#btndiv{overflow:hidden}
.delbox{position:absolute;float:right;display:block;z-index:100;background:#E6E6E6;width:120px;text-align:right;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);}

.jd_cz_bcon{width:600px;overflow:hidden;margin:30px 0 0 80px;}
.jd_cz_bconl{float:left;width:938px; border:1px solid #E5E5E5}
.jd_cz_bname,.jd_cz_bflbox{float:left; width:100%; height:auto;line-height:40px; border-top:0; border-bottom:0;  text-indent:10px;}
.jd_cz_bflbox{border-bottom:0px;border-top:0px;}
.jd_cz_bnspan{ height:40px;line-height:40px; width:95px; }

.label_box { MARGIN: 5px 0 5px 90px; height:auto; float:left; DISPLAY: none; }
.label { PADDING-RIGHT:10px; MARGIN-LEFT: 0; margin-right:5px;float:left;}
.label LI { LINE-HEIGHT: 30px; FLOAT: left; MARGIN-RIGHT: 15px}

/**/
#txtProdName,#txtpaypwd{border:1px solid #ccc;outline:0;height:25px; width:500px; line-height:25px;margin:0px;padding:0px;margin-top:7px;}
.jd_cz_bflone{float:left;display:inline;width:298px;border:1px #E5E5E5 solid;border-top:0px;text-indent:10px;height:40px;line-height:40px;}
.jd_cz_bfltwo{float:left;display:inline;width:299px;border:1px #E5E5E5 solid;border-top:0px;text-indent:10px;margin-left:-1px;height:40px;line-height:40px;}
.divAttribute{float:left;width:503px;border:1px #E5E5E5 solid;border-top:0px;border-bottom:0px;padding-left:10px; padding-left:95px;}
.divAttribute li{width:100px;float:left;margin:5px 5px 5px 0;background-color:#EEE;padding:4px;display:inline;}
.divAttribute li span{display:block;height:20px;line-height:20px;text-indent:5px;}
.divAttribute li select,#sel_JDS,#sel_coupon {width:90px;height:22px;line-height:25px;border:1px #EEE solid;margin-top:5px;font-size:12px;outline:none;background-color:#FFF;}
#sel_coupon { width:auto; height:22px;line-height:25px;border:1px #EEE solid;margin-top:5px;font-size:12px;outline:none;background-color:#FFF;}
#tr_Jianding{float:left;width:100%; border-top:0px;border-bottom:0px;padding:0px 0px;}
#jd_tips {float:left;width:100%; height:31px; border:1px #E5E5E5 solid;border-top:0px;border-bottom:0px;padding:-5px 0 5px 0px;}

#tr_Jianding_attr {float:left;width:598px; height:auto; padding:0;}
.jd_cz_dxobj{float:left;width:100%;border-top:0px; text-indent:10px;padding:5px 0px;}
.jd_cz_msinfo{float:left;width:100%;border-top:0; border-bottom:0; text-indent:10px;padding:5px 0px;}
#txtContent{border:1px solid #ccc;outline:0; float:left; margin:0px;padding:5px 0 0 0;line-height:20px;resize:none;overflow:hidden; width:720px; height:130px;}
.jd_cz_uppic,.jd_cz_pwd{float:left; width:100%; padding:5px 0px;}
.up_pictyple{padding-left:15px; color:#999999;line-height:16px;width:530px;text-indent:0}
.jd_cz_bconr{float:left;display:inline;width:240px;border-top:#e5e5e5;margin-left:15px;}
.jd_cz_nmlen,.jd_cz_msg{height:40px;line-height:40px;color:#919191;}
.jd_cz_splb{height:40px;line-height:20px;color:#919191;}
#divFileProgressContainer{width:600px;}
.jd_release{width:100%;text-align:center;padding:15px 0px;}

.select_box{width:182px;position:relative;margin:0px;padding:0;font-size:12px;float:left;margin-top:7px;}
.select_box input{cursor:pointer;display:block;line-height:25px;width:150px;height:25px;overflow:hidden;border:1px solid #ccc;padding-right:20px;padding-left:10px;color:#656565;}
.select_box ul{width:180px;position:absolute;padding:0px;margin:0px;margin-top:25px;border:1px solid #ccc;overflow:hidden;display:none;background-color:#f7f7f7;z-index:2;color:#656565;}
.select_box ul li{display:block;height:30px;overflow:hidden;line-height:30px;padding-left:5px;width:175px;cursor:pointer;}
/* .hover{background:#6da238;color:#FFFFFF;} */

.jd_m_issbox{height:27px;width:74px;background:none;}
.jd_m_issbox input{cursor:pointer;display:block;color:#646464;border:0px;height:27px;width:70px;padding-left:4px;background:none;outline:none;}
.jd_m_issbox ul{width:72px;position:absolute;padding:0px;margin:0px;margin-top:26px;border:1px solid #ccc;overflow:hidden;display:none;background-color:#f7f7f7;z-index:2;color:#656565;}
.jd_m_issbox ul li{display:block;height:25px;overflow:hidden;line-height:25px;padding-left:4px;width:68px;cursor:pointer;}
.hoversel{background:#6da238;color:#FFFFFF;}

.jd_cz_box{width:940px;padding:15px;overflow:hidden;background-color:#FFF;}
.jd_tc_page{width:100%;overflow:hidden;padding:5px 0px;text-align:right;}
.paginator{font:11px Arial, Helvetica, sans-serif;margin:0px;width:auto;}
.paginator a{padding:4px 8px;border:solid 1px #ddd;background:#fff;text-decoration:none;margin-left:2px;display:inline;display:inline-block;height:15px;}
.paginator a:visited{padding:4px 8px;border:solid 1px #ddd;background:#fff;text-decoration:none;}
.paginator .cpb{padding:4px 8px;font-weight:bold;font-size:13px;border:none}
.paginator a:hover{color:#fff;background:#f08300;border-color:#f08300;text-decoration:none;}

.ul_sqjd{width:100%;overflow:hidden;line-height:30px;height:30px;}
.box_JD_l{ width:70px; float:left; line-height:22px;}
.box_JD_r{ width:340px; float:left; text-align:left;  line-height:22px; color:#DE5521}
.box_JD_r a{ margin-right:10px;}
.box_JD_all{ width:480px; padding:2px; float:left; text-align:left;  line-height:22px; color:#DE5521}
.box_JD_c{ float:right; text-align:right; line-height:22px; font-size:14px; font-weight:bold;}
/*2016-06-14 */
.datagrid-cell-opinion,.datagrid-cell-opinion:hover{
	background-color: #ff7f00;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: block;
	margin:0 5px 10px 0;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 69px;text-decoration: underline;}
.datagrid-cell-opinion2,.datagrid-cell-opinion2:hover{
	border-radius: 2px;
    color: #ff7f00;
    cursor: pointer;
    display: block;
	margin:0 5px 10px 0;
    height: 26px;
    line-height: 26px;
	border:1px solid #ff7f00;
    text-align: center;
    width: 67px;text-decoration: underline;
}

.complement-graph{ width:288px; border:1px solid #ccc;overflow:hidden;}
.complement-graph h3{ font-size:14px; line-height:22px; color:#646464; margin-left:19px;}
.complement-graph .unable{ color:#ff3a00;}
.complement-graph textarea{ margin:10px 19px;width:250px; height:60px; color:#808080;word-wrap:break-word; word-break:break-all;}
.complem-btn{ width:143px;color:#ff7f00; height:28px; line-height:28px;  text-align:center; border:1px solid #ccc; border-bottom:none; margin-left:-1px; float:left; cursor:pointer;}
.complem-btn2{ color:#666; width:144px; border-right:none;cursor:pointer;}
/*2016-06-14 */

.pai_cz_uppic{float:left;width:100%;}
.up_pictyple{padding-left:10px;margin-top:-2px;color:#999999;line-height:16px;width:350px;}
.pai_cz_nmlen,.pai_cz_msg{height:40px;line-height:40px;color:#919191;}
.pai_cz_nmlen{width:240px;position: absolute;right: 0px;margin-right:-250px;text-indent:0px;}
.pai_cz_splb{width:240px;height:40px;line-height:20px;color:#919191;position:absolute;right:0px;margin-right:-250px;text-indent:0px;}
.pai_cz_splb #special_distinction{position:absolute;width:300px;z-index:5;display:none;}
#special_distinction h3{ color:#E53333; line-height:25px;}
#special_distinction p{ line-height:20px;}
#examine{ cursor:pointer;}
#divFileProgressContainer{width:600px;}
.pai_release{width:100%;text-align:center;padding:15px 0px;}

#uploader .filelist {list-style: none;margin: 0;padding: 0;width:100%;}
#uploader .filelist:after {content: '';display: block;width: 0;height: 0;overflow: hidden;clear: both;}
#uploader .filelist .file-item {width: 160px;height: 160px;background: url(http://res.cang.com/public/js/webuploader/tempone/bg.png) no-repeat;text-align: center;margin: 0 8px 20px 0;position: relative;display: inline;float: left;overflow: hidden;font-size: 12px;}
#uploader .filelist .file-item img {width:160px;height:160px; cursor:move;}
#uploader .filelist .file-item .success{display:block;position:absolute;left:0;bottom:0;height:40px;width:100%;z-index:200;background: url(http://res.cang.com/public/js/webuploader/tempone/success.png) no-repeat right bottom;}
#uploader .filelist .file-item .error{position: absolute;height:20px;line-height:20px;filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000')\0;background: rgba( 0, 0, 0, 0.5 );width: 100%;bottom: 0;left: 0;overflow: hidden;z-index: 300;color:orange;}
#uploader .filelist div.file-panel {position: absolute;height:0px;filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000')\0;background: rgba( 0, 0, 0, 0.5 );width: 100%;top: 0;left: 0;overflow: hidden;z-index: 300;}
#uploader #upimginfo,.upotherinfo {display: inline-block;float: left;height:34px;line-height:34px;margin-left:15px;}
#uploader .filelist div.file-panel span {width: 24px;height: 24px;display: inline;float: right;text-indent: -9999px;overflow: hidden;background: url(http://res.cang.com/public/js/webuploader/tempone/icons.png) no-repeat;margin: 5px 1px 1px;cursor: pointer;}
#uploader .filelist div.file-panel span.cancel {background-position: -48px -24px;}
#uploader .filelist div.file-panel span.cancel:hover {background-position: -48px 0;}
#uploader .filelist .file-item p.progress {position: absolute;width: 100%;bottom:0;left:0;height: 8px;overflow: hidden;z-index:50;margin:0px;padding:0px;}
#uploader .filelist .file-item p.progress span {display: inline-block;float:left;overflow:hidden;width:0;height:100%;background: #1483d8 url(http://res.cang.com/public/js/webuploader/tempone/progress.png) repeat-x;-webit-transition: width 200ms linear;-moz-transition: width 200ms linear;-o-transition: width 200ms linear;-ms-transition: width 200ms linear;transition: width 200ms linear;-webkit-animation: progressmove 2s linear infinite;-moz-animation: progressmove 2s linear infinite;-o-animation: progressmove 2s linear infinite;-ms-animation: progressmove 2s linear infinite;animation: progressmove 2s linear infinite;-webkit-transform: translateZ(0);}
@-webkit-keyframes progressmove {0% {background-position: 0 0;}100% {background-position: 17px 0;}}
@-moz-keyframes progressmove {0% {background-position: 0 0;}100% {background-position: 17px 0;}}
@keyframes progressmove {0% {background-position: 0 0;}100% {background-position: 17px 0;}}

/*2017-05-16*/
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden}
.clearfix{*zoom:1}
.jd_m_coupon{background-position:-314px -39px}
.jd_m_coupon_s{background-position:-314px -57px;}
.coupon_none {
	font-size: 14px;
	color: #666;
	line-height: 35px;
}
.coupon_list {
	width: 950px;
}
.coupon_item {
	position: relative;
	float: left;
	width: 222px;
	height: 94px;
	margin:0 14px 14px 0;
	overflow: hidden;
	border-radius: 4px;
	background: #f2f2f2;
}
.coupon_detail {
	padding: 9px;
	background: #ff4200;
	color: #fff;
	height: 40px;
}
.coupon_detail p{
	display: inline-block;
	font-size: 18px;
	color: #fff;
}
.coupon_price {
	float: right;
	font-weight: bold;
	font-size: 20px;
	*margin-top: -15px;
}
.coupon_price span {
	font-size: 38px;
}
.coupon_date {
	position: absolute;
	top: 55px;
	left: 0;
	z-index: 10;
	width: 204px;
	padding: 9px;
	line-height: 22px;
	color: #999;
}
.coupon_date a{
	float: right;
	color: #ff4200;
	*margin-top: -22px;
}
.coupon_green {
	background: #9c6;
}
.coupon_date a.color_green {
	color: #9c6;
}
.coupon_gray {
	background: #ccc;
}