
*{margin:0;padding:0;}
a:hover{color: #ff7f00;}
img{border:none;}
li{list-style:none;}
h1{font:2em "Arial","sans-serif","Microsoft YaHei","SimHei",;font-weight:bold;color:#f08300;}
h2{font:1.5em "Microsoft YaHei","SimHei","Arial","sans-serif";font-weight:bold;color:#f08300;}
h6{font:1em "SimSun","Microsoft YaHei","SimHei","Arial","sans-serif";font-weight:bold;color:#646464;}
.fs13{font-size:13px;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.uline{text-decoration:underline;}
.nline{text-decoration:none;}
p{font:12px "SimSun","SimHei","Arial","sans-serif";font-weight:normal;color:#646464;}
input,select{vertical-align:middle;}
select.sortattr{cursor:pointer;}
.clear{clear:both;}
.fl{float:left;}
.fr{float:right;}
.b{font-weight:bold;}
.red{color:red;}
.blue{color:blue;}
.Orange{color:#ff6600;}
.col91{color:#919191;}
.colf0{color:#f08300;}
.col6c{color:#6ca33b;}
.col65{color:#656565;}
.green{color:green;}
.col666{color:#666666;}
.ml5{margin-left:5px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.mt15{margin-top:15px;}
.mt10{margin-top:10px;}
.ml10{margin-left:10px;}
.ml40{margin-left:40px;}
.ml30{margin-left:30px;}
.mb80{margin-bottom:80px;}
.mb40{margin-bottom:40px;}
.mb15{margin-bottom:15px;}
.hand{cursor:pointer;}
.hid{display:none;}
button,input,textarea{vertical-align:middle;outline:0;}
#bg{display:block;position:relative;width:100%;background-color:#ededef;}
.btn1{display:block;padding:8px 12px;background-color:#E4393C;border-radius:3px;color:#fff;font:12px "SimSun","SimHei","Arial","sans-serif";}
a.btn1:hover{background:#EF0000;}
.btn2,.btn-light,.btn3,.btn-medium,.btn4,.btn-dark{display:block;padding:5px 10px;border-radius:3px;color:#666;font:12px "Microsoft YaHei","SimHei","Arial","sans-serif";}
.btn2{background:#e38f71;}
.btn3{background:#a26b61;}
.btn4{background:#825d5b;}
a.btn2:hover{background:#cc7252;}
a.btn3:hover{background:#99584c;}
a.btn4:hover{background:#663f3d;}
body{font-family:"SimSun",Tahoma,Arial;font-size:12px;background-color:#fff;margin:0px;padding:0px;min-width:1160px;margin:0px auto;}
.headern{width:100%;min-width:1160px;overflow:hidden;margin:0px auto;clear:both;}
.toploge{display:block;margin:0px auto;width:100%;height:87px;box-shadow:0 1px 4px -2px rgba(0,0,0,0.6);}
.headloge{width:1160px;padding:20px 0px 5px;margin:0px auto;overflow:hidden;}
.headloge .logo{display:inline-block;position:relative;float:left;width:400px;height:36px;margin:0px 0px 5px 0px;height: 50px;}
.headloge .logo img{display:block;position:relative;float:left;padding-right:10px;border-right:1px solid #b6b5b5;}
.headloge .logo h2{display:block;position:relative;float:left;line-height:60px;text-align:center;margin-left:30px;font-size: 15px;color: #E4393C;}
.headloge .user-info{display:block;position:relative;float:right;width:238px;}
.headloge .user-info img{display:block;position:relative;margin:auto 20px;max-width:60px;max-height:60px;border:2px solid #fff;border-radius:50px;box-shadow:0 6px 2px -2px rgba(0,0,0,0.2);_width:60px;_height:60px;}
.headloge .user-info .user-name{display:block;position:relative;margin-top:20px;font-weight:bold;color:#f08300;line-height:18px;}
.headloge .user-info .user-id{width:100px;color:#333333}
.topnav{width:100%;background-color:#FFF;height:72px;}
.topnav_wrap{width:100%;background-color:#E4393C;border-bottom:1px solid #D0D0D0;border-top:1px solid #E4393C;height:40px;position:relative;_border-bottom:0px;}
.nav_box{width:1160px;margin:0px auto;height:40px;position:relative;}
.nav_bul{}
#nav_bulb .nav_bli{float:left;}
#nav_bulb .nav_bli a{color:#FFF;font:bold 1.33333em "Microsoft YaHei","SimHei","Arial","sans-serif";display:inline-block;height:40px;line-height:40px;text-decoration:none;padding:0px 15px;}
#nav_bulb .nav_blis a{background:white;color:#E4393C;height:41px;line-height:40px;position:relative;margin-top:-1px;border-top:1px solid #D0D0D0;}
.nav_box .n_bl_mlist a{color:#FFF;font:bold 1.33333em "Microsoft YaHei","SimHei","Arial","sans-serif";display:inline-block;height:40px;line-height:40px;text-decoration:none;padding:0px 15px;}
.nav_box .n_bl_mlist a{background:white;color:#E4393C;height:41px;line-height:40px;position:relative;margin-top:-1px;border-top:1px solid #D0D0D0;}
.nav_box .n_bl_menu{display:none;position:absolute;left:-30px;top:42px;height:30px;width:100%;}
.nav_box .selected {display:block;}
.nav_box .n_bl_menu .n_bl_mlist a{position:relative;top:1px;color:#000;float:left;text-align:center;padding:0px 10px;font-family:Arial,Verdana,Tahoma,""SimSun"";font-size:12px;font-weight:normal;display:inline-block;line-height:29px;height:27px;_height:25px;_padding-top:2px;_line-height:25px;border:0;border-bottom:2px #FFF solid;}
.nav_box .n_bl_menu .n_bl_mlist .active a{border-bottom: 2px #E4393C solid;}	
.nav_box .n_bl_menu .n_bl_mlist a:hover,.n_bl_menu .n_bl_mlist a.mselect{border-bottom-color:#E4393C;}
.nav_box .n_bl_menu .n_bl_mlist span{font-size:10px;display:inline-block;color:#000;line-height:29px;float:left;}
.nav_box .n_bl_menu .n_bl_mlist{margin:0px auto;width:1040px;overflow:hidden;height:30px;}
.user_jifen{width:245px;height:39px;float:right;text-align:left;line-height:25px;color:#333}
.jifen_left{margin-left:20px;}
.jifen_right{margin-left:70px;}
.bodywrap{display:block;position:relative;width:1190px;margin:30px auto;}
.nleft{display:block;width:188px;float:left;margin-bottom:20px;}
#sidebar{display:inline-block;float:left;position:relative;margin:0px;width:186px;background-color:#ededef;border:1px solid #d0d0d0;border-bottom:none;}
#sidebar ul{display:block;position:relative;float:left;list-style:none;margin:0;width:186px;}
#sidebar ul li{position:relative;float:left;text-align:center;border-bottom:1px solid #d0d0d0;width:186px;overflow:hidden;}
#sidebar ul li a{display:block;position:relative;float:left;padding:8px 15px;margin:0;width:155px;height:21px;color:#646464;font:1.1666666em "SimSun","SimHei","Arial","sans-serif";font-weight:bold;text-align:center;text-decoration:none;background:linear-gradient(#ffffff,#f7f7f7);box-shadow:inset 0 -1px 0 rgba(255,255,255,0.7);}
#sidebar ul li ul li a{height:21px;line-height:21px;padding:0;margin:0;display:inline;width:85px;float:left;margin-left:3px;}
#sidebar ul li a img{display:block;position:relative;float:left;margin:auto 15px auto 15px;width:17px;height:17px;}
#sidebar ul li a .arrow{display:block;position:relative;width:10px;height:7px;margin:8px 20px 0 0;float:right;padding:5px;_display:none;}
#sidebar ul li a span{display:block;position:relative;float:left;text-align:center;line-height:21px;}
#sidebar ul li ul li a:hover{color:#fff;background-color:#E4393C;border-radius:3px;}
#sidebar ul li ul .Leftshow a{color:#fff;background-color:#E4393C;border-radius:3px;}
#sidebar ul ul{width:186px;float:right;margin:8px 0px;padding:2px 0;}
#sidebar ul ul li a{display:block;color:#646464;font:1em "SimSun","SimHei","Arial","sans-serif";line-height:1.5em;border:none;box-shadow:none;background:none;}
#sidebar ul ul li{border:none;width:49%;border-left:1px solid rgb(208,208,208);margin-left:-1px;}
.main{display:inline-block;position:relative;margin:0px 0px 16px 16px;padding:0;width:698px;float:left;border:1px solid #d0d0d0;}
.main .blank{display:block;width:100%;height:50px;background:#EDEDEF;}
.main .ad{display:block;width:100%;height:100px; border: 0; margin:15px 0;background:#EDEDEF; overflow: hidden;}
.main .ad img{width: 100%; height: 100px;}
.main ul{display:block;position:relative;float:left;width:100%;width:100%;background:#fff;border-bottom:1px solid #ccc;}
.main ul:last-child{border: none;}
.main ul li{display:block;position:relative;float:left;width:348px;}
.main ul li.cangbi{width:173px;height:163px;overflow:hidden;}
.main ul li.cangbi div{height:90px;padding:25px 0 10px 0;font:14px "SimHei","SimSun","Arial","sans-serif";color:#666;border-bottom:none;}
.main ul li.cangbi div,.main ul li.cangbi div p{display:block;position:relative;float:left;line-height:18px;width:144px; font-family: "Microsoft YaHei";}
.main ul li.cangbi div p{color:#999;}
.main ul li.cangbi a{display:block;position:relative;float:left;width:144px;padding:0;margin-left:16px;_margin-left:8px;line-height:26px;text-align:left;color:#666;}
.main ul li.cangbi div p{margin-top:10px;}
.main ul li.cangbi img{margin:0 15px;}
.earn_tibetan{font: 14px "SimHei"; color: #ff7f00; margin-right: 5px;}
.main ul li.my-jd{width:100%;width:100%;}
.main ul li+li{border-left:1px solid #d0d0d0;}
.main ul ul li+li{border:none;}
.main ul ul{display:block;position:relative;float:left;width:309px;padding:10px;margin:0 15px;_margin:0 7px;border:none;background:none;}
.main ul li.capital{ width: 100%; height: 79px; border: none;}
.main ul li.capital .title{width: 85px; border: none; line-height: 79px; padding: 0 0 0 28px; margin: 0;}
.capital .account{ width: 585px; padding: 0; margin:0;}
.capital .account li{ width: 100%;}
.capital .account li .detailed{float: left; margin-left: 20px; line-height: 79px;}
.main ul ul.jd-post{width:465px; padding: 0; left: 130px; top: 20px; position: absolute; z-index: 2;}
.main ul li div{display:block;position:relative;float:left;margin:0 15px;_margin:0 7px;width:309px;padding:10px;color:#646464;font:1.1666666em "SimSun","SimHei","Arial","sans-serif";font-weight:bold;border-bottom:1px solid #f08300;}
.main ul li.orders-b div,.main ul li.orders-s div{border:none;}
.main ul li.my-jd div{width:659px; border: none; padding: 20px 10px;}
.main ul li.my-jd div a.btn4{display:block;position:relative;float:right; background: none; border: 1px solid #E4393C; border-radius: 2px;}
.main ul li.my-jd div a.btn4 p{color:#E4393C;}
.main ul li div a.title-left{display:block;position:relative;float:left;padding:1px; color: #000;}
.main ul li div a span{display:block;position:relative;float:right;font-size:12px;font-weight:normal;color:#a6a6a6; text-decoration: underline;}
.main ul li div a:hover span{ color: #E4393C;}
.main ul li div a span.num{display:block;position:relative;float:right;font:12px "Arial","sans-serif","SimHei","Microsoft YaHei","SimSun";color:#999;padding:0 2px;}
.main ul ul li{display:inline-block;padding:0 0 10px 0;width:309px;text-align:center;border-bottom:2px solid #fff;}
.main ul ul.jd-post li{width:100px; border: none;}
.main ul ul.orders-buy li,.main ul ul.orders-sell li{width:102px; height: 25px; padding: 0; border-right: 1px solid #f0f0f0;}
.main ul ul.orders-buy li:last-child,.main ul ul.orders-sell li:last-child{border: none;}
.main ul ul.orders-sell li{width:150px;}

.main ul ul.account li h1{float: left; font-size: 18px; line-height: 79px; color: #ff4200;}
.main ul ul.account li .btns{display:block;position:relative; width: 246px; float:right;border:none;margin:0;padding:0;}
.main ul ul.account li .btns a{float:left;display:inline-block;margin:10px 40px;}
.main ul ul.account li a p{display:block;width:48px;color:#fff;}
.main ul li.my-jd div a+a,.main ul li.my-jd div a p{display:block;float:right;width:48px;color:#fff;margin:0;}
.main ul li.my-jd div a+a{margin-top:-4px;}
.main ul ul.orders-buy li a,.main ul ul.orders-sell li a,.main ul ul.jd-post li a{display:block;width:100%;height:30px;font:2em "Arial","sans-serif","SimHei","Microsoft YaHei","SimSun";text-align:center;clear:both; background: none;}
.jd_num{ font-size: 12px; float: left; margin-left: 3px; font-weight: normal; display: inline-block; line-height: 18px; background: #ff4200; color: #fff; border-radius: 9px; height: 18px; min-width: 18px;}
.main ul ul.orders-buy li a,.main ul ul.orders-sell li a{color:#E38F71; text-align: center; line-height: 20px;}
.main ul ul.orders-buy li a p,.main ul ul.orders-buy li a span{ float: none; display: inline-block;}
.main ul ul.orders-sell li a p,.main ul ul.orders-sell li a span{ float: none; display: inline-block;}
.main ul ul.jd-post li a{color:#825D5B;}
.main ul ul.jd-post li.jd_comment{ position: absolute; right: 10px; width: 110px; color: #000; }
.jd_comment a{text-decoration: none;}
.main ul ul.jd-post .jd_comment a p { text-indent: 26px; font-size: 12px; color: #666;}
.jd_comment a span{margin-left: 5px; font-size: 12px; float: left; line-height: 20px; color: #ff7f00;border: none;}
.main ul li.cangbi1:hover a{}
.main ul ul.email a p,.main ul ul.orders-buy a p,.main ul ul.orders-sell a p,.main ul ul.jd-post a p{line-height:18px;float:left;text-align:center;font:12px "SimSun","SimHei","Microsoft YaHei","Arial","sans-serif",;background:none; color:#09f; font-size: 14px;}
.main ul ul.email a p{color:#f0b270;}
.main ul ul li a:hover p{text-decoration:underline;}
.main ul ul.account li a:hover p{text-decoration:none;}

.nright{display:block;position:relative;width:270px;margin:0 0 20px 0px; background: #fff; float:left;}
.nright .coin{display:block;position:relative;width:268px; border:1px solid #ccc; background: #fffde7; float:left; padding-bottom: 10px; }
.nright ul{display:block;position:relative;float:left;margin-top:20px;}
.nright ul.coin{margin:0 0 11px;}
.nright ul.coin li ul{display:block;position:relative;float:left;width:268px;background:#999;}
.nright ul li div.title{display:block;position:relative;float:left;width:268px;clear:both;}
.nright ul li div.title h6{ float:left;margin:10px 0 8px 10px; width: 48%; font-weight:bold; font-size: 14px; color: #000;}
.nright ul.remen li div.title{float:left;margin-bottom:5px;}
.nright ul.haoyou li div.title{float:left;border-bottom:1px solid #ccc;margin-bottom:5px;}
.friendsp,.frienddt,.friendpm,.friendgj,.friendsph,.frienddth,.friendpmh,.friendgjh{display:block;float:right;height:31px; margin-left:5px; color: #000; font-weight: bold;font:12px "SimSun","SimHei" bold; text-decoration:none;overflow:hidden;line-height: 35px;}
.frienddth,.friendpmh,.friendgjh{ color: #ff7f00;}
.friendsph{background-position:0px 0px;}
.frienddth{background-position:-28px 0px;}
.friendpmh{background-position:-56px 0px;}
.friendgjh{background-position:-84px 0px;}
.friendsp{background-position:0px -31px;}
.frienddt{background-position:-28px -31px;}
.friendpm{background-position:-56px -31px;}
.friendgj{background-position:-84px -31px;}
.nright ul li div.title img{float:left;padding:0;margin-left:3px;z-index:999;position:relative;}
.nright .coin li div.title{margin:-4px 0 0 -10px;_margin:0;}
.nright .coin li{display:block;position:relative;float:left;width:88px;margin:4px 10px 5px 10px;_margin:0;}
.nright .coin p{line-height:30px;}
.nright .coin .shuzi{font:2em "SimHei","Microsoft YaHei","Arial","sans-serif",;font-weight:bold;color:#ff4200;}
.nright .coin li span{font:2em "SimSun","SimHei","Microsoft YaHei","Arial","sans-serif",;font-weight:bold;color:#e38f71;}
.nright .coin li p a{font:1em "SimSun","SimHei","Microsoft YaHei","Arial","sans-serif",;font-weight:bold;color:#f08300;}
.nright .coin li img{padding:10px 0 5px 0;}
.nright .coin li:last-child,.nright .coin li a.btn2{margin-top:10px;}
.nright .coin li:last-child p{color:#8e8e8e;}
.nright .coin li a.btn2{color:#fff;text-align:center;}
.nright .coin a.btn2{color:#E4393C;text-align:center; padding: 0; line-height: 28px;}
.nright .weibo{display:block;position:relative;float:left;margin-left:-1px;padding:15px;background:#fff;border:1px solid #d0d0d0;}
.btn-sign{ background: none; width: 58px; height: 28px; font-size: 14px; text-decoration: none; font-weight: bold; border: 1px solid #E4393C; color: #ff7f00; border-radius: 0;} 
.nright .coin a:hover.btn2{ background: none;}
.nright .coin .usable{ color:#666; margin-left: 2px;}
.coin_star{ float: left; line-height: 18px; padding-top: 8px; color: #000;}
.coin_star font{ font-size:12px !important; *margin:-2px 0 0 2px;}
.nright .coin li .coin_star{color: #000;}
.nright .coin li .coin_star img{ margin:3px 0 0 2px;}
#txtXinQing{margin-bottom:10px;resize:none;width:180px;height:50px;}
#btnXinQing{display:block;position:relative;float:right;color:#fff;background:#e38f71;border-radius:2px;border:none;padding:3px 5px;cursor:pointer;}
#btnXinQing:hover{background:#cc7252;}
.nright .remen{display:block;position:relative;float:left; margin:0;border:1px solid #ccc;background:#fff;}
.nright .remen li a p{display:block;position:relative;float:left; width: 238px; height:20px;padding:4px 10px;line-height:30px; font:14px "SimSun","SimHei","Microsoft YaHei","Arial","sans-serif";white-space:nowrap;overflow:hidden;}
.nright ul:nth-child(3){border-top: none;}
.nright .remen li a p span{color:#E4393C;font-weight:bold;}
.nright .remen li a:hover p{color:#E4393C;text-decoration:underline;}
.nright .haoyou{display:block;position:relative;float:left; width: 270px; margin:10px 0 0; }
.nright .haoyou li+li{display:block;position:relative;float:left;width:270px;height:78px;height: 66px\0;}
.nright .haoyou li>img{display:none;position:relative;float:left;margin-left:-3%;width:12px;height:12px;}
.nright .haoyou li>img+img{display:block;position:relative;float:left;margin:0;width:6px;height:12px;}
.nright .haoyou li ul{display:block;position:relative;float:left;margin:0;width:250px;padding:16px 10px 0;height:60px;background:#fff;}
.nright .haoyou li ul li{display:block;position:relative;float:left;}
.nright .haoyou li ul li img{display:block;position:relative;float:left;width:60px;height:60px;margin:0;}
.nright .haoyou li ul li p{display:block;position:relative;float:left;width:180px;margin-left:10px;}
.nright .haoyou li ul li p+p{float:right;text-align:right;font-weight:bold; color: #000;}
.nright .haoyou li ul li a:hover p{color:#ff7f00;text-decoration:underline;}
.mright{display:inline-block;position:relative;margin:0px 0px 20px -1px;padding:0;width:970px;border:1px solid #d0d0d0;background:#fff;min-height:956px;}
.footern{display:block;position:relative;width:100%;min-width:1160px;margin-top:20px;padding-top:20px;padding-bottom:20px;background:#fff;border-top:1px solid #d0d0d0;clear:both;}
.footern .inner{display:block;width:690px;margin:0px auto;text-align:center;color:#646464;line-height:30px;}
.footern a{color:#878787;}
.footern a:hover{color:#4e4e4e;text-decoration:underline;}
.up_announcement{width:920px;text-align:center;padding:10px;background-color:#f7f7f7;text-align:left;color:#919191;line-height:20px;}
.sp_tishi{width:900px;min-height:30px;background-color:#F8F8F8;margin-top:20px;text-align:left;line-height:25px;font-size:20px;color:#919191;padding:30px 20px;}
.home_f_box{width:26px;height:90px;background:url(../images/hyjfk_bg.png) no-repeat;right:0px;top:250px;padding:0px;margin:0px;overflow:hidden;overflow:hidden;position:fixed;_position:absolute;z-index:200;cursor:pointer;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))-250);}
.feedbackbox{position:absolute;width:666px;height:416px;left:0;top:0;padding:8px;font-size:14px;color:#333;z-index:1001;overflow:hidden; display:none;}
.hfeedback-hd{position:relative;height:38px;padding-left:20px;text-indent:-9999px;overflow:hidden;background:#fe8300;}
.hfeedback-hd h2{width:100px;height:26px;margin-top:6px;background:url(../images/hyjfk_bg.png) no-repeat -26px 0px;overflow:hidden;}
.hclose-btn{position:absolute;right:0;top:0;width:40px;height:40px;background:url(../images/hyjfk_bg.png) no-repeat -26px -26px;overflow:hidden;}
.hfeedback-bd{padding:20px 20px 20px 30px;background:#f5f5f5;}
.hfeedback-bd h3{height:20px;font:16px "\5fae\8f6f\96c5\9ed1";margin-bottom:10px;}
.hfeedback-bd .reply{width:605px;height:160px;margin-bottom:10px;}
.hfeedback-bd .txt{width:579px;height:138px;line-height:20px;margin:3px;padding:5px 10px;font-size:14px;color:#999;border:0 none;outline:0 none;resize:none;}
.hfeedback-bd .txt.focus{color:#000;}
.btn-wrap{padding:20px 10px 10px 0;overflow:hidden;zoom:1;}
.btn-wrap .btn{float:right;width:87px;height:32px;border:0;text-indent:-9999px;cursor:pointer;background:url(../images/hyjfk_bg.png) no-repeat -26px -66px;}
.btn-wrap .errror{float:left;width:514px;height:20px;color:#f00;text-align:left;overflow:hidden;padding-bottom:20px;}
.homemask{width:100%;background-color:#000;position:absolute;top:0px;left:0px;opacity:0.8;-ms-filter:"alpha(opacity=80)";filter:alpha(opacity=80);zoom:1;display:none;z-index:1000;}
.hfeedback_pro{width:605px;height:28px;margin-bottom:10px;}
.hfeedback_ulb{width:100%;overflow:hidden;}
.hfeedback_li_t{float:left;height:18px;line-height:18px;margin:5px 0px;color:#fe8300;font-weight:bold;}
.hfeedback_lii{float:left;cursor:pointer;height:18px;line-height:18px;margin:5px 10px 5px 0px;}
.hfeedback_lii span{float:left;width:18px;height:18px;margin-right:5px;}
.hfeedback_lii .hbk_item_sel{background-position:-270px -324px;}
.hfeedback_lii .hbk_item{background-position:-248px -324px;}
#Remind{border:1px solid #f08300;padding:6px 10px;margin-bottom:10px;background-color:#F3DFC8;}
.btn1{padding:0;width:112px;  height:40px;line-height:40px;text-align:center;font-size:40px;}
.main ul ul.account li .btns a{border: 1px solid #EF0000; margin:20px 5px;text-decoration:none;float:left;}
.main ul ul.account li a p{width:112px;height:40px;font: 14px "Microsoft YaHei";line-height:40px; text-align:center;}
.main ul ul.account li .btns a:last-child{margin-right:0px;background:none;}
.main ul ul.account li .btns a:last-child p{color: #E4393C;}
.main ul ul.email{position: absolute;z-index: 2; left: 480px; top: -84px; padding: 0; margin:0; }
.main ul ul.email a{text-decoration:none;}
.main ul ul.email a p{font-size:14px;color:#666;text-decoration:none;font-weight:bold;text-indent: 20px;}
.main ul ul.email a:hover p{text-decoration:none;color:#E4393C;}
.main ul ul.email li a span{display:block;float:left;background:#ff4200;height:15px;min-width:15px;font-size:18px;border-radius: 7px;margin:2px 0 0 3px; line-height:15px;font:12px "Arial","sans-serif","SimHei","Microsoft YaHei","SimSun"; color: #fff;}
.main ul ul.email li{ width: 102px; border: none;}

.little_tip{position: absolute; top: -75px; left:-55px; z-index: 4; width: 138px; height: 66px; font-size: 14px; color: #fff; text-align: center;}
.little_tip p{ padding-top: 10px;color: #fff; line-height:25px;}
.little_tip .tip_know{ padding-top: 0; text-decoration: underline; cursor: pointer;}

 .live-pattern {
    height: 200px;
    text-align: center;
    display: inline-block;
    border: 1px solid #eaeaea;
    margin-right: 10px;
 }
  .live-pattern img {
    clear: both;
    display: block;
    margin: 20px auto 20px;
    vertical-align: middle;
  }
.live-pattern img.transverse{
    margin: 60px auto 47px;
}
.seller_settled{
	display:inline-block;
	position:relative;
	margin:0px 0px 20px -1px;
	padding:0;
	width:970px;
	float:left;
	border:1px solid #d0d0d0;
	background:#fff;
	min-height:914px;
}
.seller_bd {
	text-align: center;
	margin: 0 auto;
}
.seller_bd img {
	display: block;
	margin: 240px auto 20px;
}
.go_back {
	display: block;
	margin: 10px auto;
	width: 184px;
	height: 45px;
	line-height: 45px;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	border-radius:4px ;
	background: #ff7f00;
	color: #fff;
}
.go_back:hover {
	color: #fff;
}
.hideRT{
	display: none;
}