.msg_menu{clear:both;height:50px;width:970px;background-color:white;border-bottom:1px #D0D0D0 solid;}
.msg_m_i,a.msg_m_i:hover{display:block;width:105px;height:50px;border-right:1px #d0d0d0 solid;float:left;cursor:pointer;text-decoration:none;}
.msg_m_is{border-bottom:1px #f7f7f7 solid;background-color:#f7f7f7;}
.msg_m_iso{width:652px;height:50px;border-bottom:1px #d0d0d0 solid;float:left;}
.msg_m_cb{width:100%;height:20px;}
.msg_img{background-image:url(../images/msg_ico.png);background-repeat:no-repeat;}
.msg_m_img{display:block;width:22px;height:18px;margin:6px auto 0px auto;}
.msg_m_shou{background-position:-267px -13px;}
.msg_m_shou_s{background-position:-267px -51px}
.msg_m_fa{background-position:-267px -124px;}
.msg_m_fa_s{background-position:-267px -127px;}
.msg_m_xie{background-position:-267px -164px;}
.msg_m_xie_s{background-position:-267px -197px;}
.msg_m_name,.msg_m_name_s{display:block;width:100%;height:25px;text-align:center;font-size:14px;color: #646464;}
.msg_m_name_s{text-decoration:none;color: #E4393C;}
.msg_m_isb{display:inline;float:right;margin:12px 25px 0px 0px;height:27px;width:289px;background-position:-6px -343px;overflow:hidden;}
.msg_m_iskey{display:inline;border:0px;height:20px;line-height:20px;width:195px;background:none;float:left;margin-left:26px;margin-right:5px;margin-top:4px;}
.msg_m_isbut{border:0px;height:27px;width:63px;background:none;cursor:pointer;float:left;}
.msg_pbox{clear:both;height:55px;width:970px;background-color:#FFF;}
.msg_send_but,.msg_cancel_but,.msg_cxie_but{width:64px;height:26px;border:0px;float:left;cursor:pointer;}
.msg_send_but{background-position:-12px -18px;}
.msg_cancel_but{background-position:-87px -18px;}
.msg_cxie_but{background-position:-12px -105px;}
.msg_rbox{width:930px;overflow:hidden;background-color:#f7f7f7;float:left;display:inline;margin-left:15px;color:#909090;}
.msg_fapeople{width:100%;overflow:hidden;height:30px;line-height:30px;text-indent:10px;}
.msg_fapeople a{font-weight:bold;color:#646464;font-size:14px;}
.msg_shoupeople{width:100%;overflow:hidden;height:30px;line-height:30px;text-indent:10px;}
.msg_s_ptext{height:25px;line-height:25px;border:1px solid #d0d0d0;width:332px;border-radius:4px;}
.msg_s_psel{height:25px;line-height:25px;width:68px;
border:1px solid #D0D0D0;margin-left:5px;
}
.msg_contitle{width:100%;overflow:hidden;height:30px;line-height:30px;text-indent:10px;padding-bottom:5px;border-bottom:2px #E4393C solid;}
.msg_c_ttext{height:25px;line-height:25px;border:1px solid #d0d0d0;width:332px;border-radius:4px;}
.msg_con_box{width:100%;overflow:hidden;}
.msg_c_ctext,.msg_c_cbtext{width:872px;padding:5px 10px;height:300px;background-color:#FFF;border:1px solid #D0D0D0;color:#646464;line-height:20px;font-size:14px;resize:none;}
.msg_c_cbtext{height:90px;}
.msg_tj_box{width:100%;overflow:hidden;line-height:26px;}
.msg_copy_but{display:inline;float:left;height:26px;line-height:35px;width:200px;cursor:pointer;text-decoration:underline;}

.msg_s_link{clear:both;height:38px;width:970px;background-color:#F7F7F7;border-bottom:1px #D0D0D0 solid;}
.msg_s_l_i,.msg_s_l_i_s{display:inline;float:left;width:73px;height:23px;line-height:23px;color:#646464;font-size:14px;text-align:center;}
a.msg_s_l_i:hover,a.msg_s_l_i_s:hover,.msg_s_l_i_s{background-image:url(../images/msg_ico.png);background-repeat:no-repeat;background-position:-11px -183px;color:#FFF;text-decoration:none;}
.msg_s_l_ib,.msg_s_l_ib_s,.msg_s_l_ilb,.msg_s_l_ilb_s{display:inline;float:left;height:23px;line-height:23px;color:#646464;font-size:14px;text-align:center;width:87px;text-indent:10px;background-image:url(../images/msg_ico.png);background-repeat:no-repeat;background-position:-105px -237px;}
.msg_s_l_ilb{background-position: -106px -307px;}
a.msg_s_l_ib:hover,a.msg_s_l_ib_s:hover,.msg_s_l_ib_s,a.msg_s_l_ilb:hover,a.msg_s_l_ilb_s:hover,.msg_s_l_ilb_s{width:87px;text-indent:10px;background-image:url(../images/msg_ico.png);background-repeat:no-repeat;background-position:-105px -183px;color:#FFF;text-decoration:none;}
.msg_cz_box{width:940px;padding:15px;overflow:hidden;background-color:#FFF;}
.msg_cz_bc{width:100%;height:35px;overflow:hidden;}
.msg_cz_sel,.msg_cz_del,.msg_cz_qb,.msg_cz_bj,.msg_cz_sx,.msg_cz_back,.msg_cz_double,.msg_cz_double1,.msg_cz_prev,.msg_cz_next,.msg_cz_zf{display:inline;float:left;width:64px;height:26px;overflow:hidden;cursor:pointer;border:0px;}
.msg_cz_done,.msg_cz_dtwo{width:58px;height:26px;border:0px;margin:0px;padding:0px;cursor:pointer;float:left;background:none;}
.msg_cz_dtwo{width:57px;}
.msg_cz_sel{background-position:-12px -76px;cursor:pointer;}
.item_all{margin-left:10px;margin-top:6px;cursor:pointer;}
.msg_cz_del{background-position:-87px -76px;}
.msg_cz_zf{background-position:-11px -306px;}
.msg_cz_qb{background-position:-160px -76px;}
.msg_cz_bj{width:80px;background-position:-160px -18px;}
.msg_cz_sx{width:65px;background-position:-11px -133px;}
.msg_cz_back{background-position:-2px -386px;}
.msg_cz_double{width:115px;background-position:-67px -386px;}
.msg_cz_double1{width:115px;background-position:-183px -386px;}
.msg_cz_prev{width:76px;background-position:-11px -229px;float:right;}
.msg_cz_next{width:76px;background-position:-11px -272px;float:right;}
.msg_cz_page{display:inline;float:right;width:540px;height:35px;overflow:hidden;text-align:right;}
.msg_ggxx{height:26px;line-height:26px;border:1px #F26161 solid;background-color:#FFE8E8;overflow:hidden;background-position:-220px -216px;text-indent:22px;margin-bottom:5px;}
.msg_tc_h3,.msg_tc_bh3{width:100%;height:30px;line-height:35px;border-bottom:1px #f08300 solid;color:#646464;font-size:12px;text-indent:5px;}
.msg_tc_bh3{font-size:14px;background-color:#F7F7F7;}
.msg_tc_ul{width:100%;overflow:hidden;}
.msg_tc_li{width:100%;height:35px;line-height:35px;border-bottom:1px #d0d0d0 solid;cursor:pointer;}
.msg_tc_li .item_today{float:left;display:inline;margin-top:11px;}
.msg_tc_xf,.msg_tc_xf_open{float:left;display:inline;width:25px;height:35px;background-position:-270px -230px;}
.msg_tc_xf_open{background-position:-270px -266px;}
.msg_tc_name,.msg_tc_name_open,.msg_tc_toname{width:145px;height:35px;overflow:hidden;font-size:14px;color:#646464;display:inline;float:left;font-weight:bold;}
a.msg_tc_name:hover,a.msg_tc_name_open:hover,a.msg_tc_toname:hover,a.msg_tc_con:hover,a.msg_tc_con_open:hover,a.msg_tc_con_fa:hover{color:#646464;}
.msg_tc_toname{width:185px;font-weight:normal;}
.msg_tc_bj,.msg_tc_bj_no,.msg_tc_jbj,.msg_tc_jbj_no,.msg_tc_hy{float:left;display:inline;width:20px;height:35px;background-position:-108px -230px;}
.msg_tc_hy{width:40px;color:green;}
.msg_tc_bj_no,.msg_tc_jbj_no{background-position:-108px -265px;}
.msg_tc_jbj{background-position:-108px -300px;}
.msg_tc_con,.msg_tc_con_open,.msg_tc_con_fa{width:535px;height:35px;overflow:hidden;font-size:14px;font-weight:bold;color:#646464;display:inline;float:left;}
.msg_tc_con_fa{width:590px;font-weight:normal;}
.msg_tc_time,.msg_tc_time_open{float:left;display:inline;width:60px;height:35px;font-weight:bold;color:#646464;}
.msg_tc_name_open,.msg_tc_con_open,.msg_tc_time_open{font-weight:normal;}
.msg_tc_page{width:100%;overflow:hidden;padding:5px 0px;text-align:right;}
.msg_ggxx a,.msg_ggxx a:hover{color:#f26161;text-indent:40px;text-decoration:underline;}

.msg_mrbox{width:100%;overflow:hidden;background-color:#f7f7f7;}
.msg_mr_title{width:100%;overflow:hidden;height:38px;line-height:38px;text-indent:10px;color:#646464;font-size:14px;}
.msg_mr_fname{width:100%;overflow:hidden;height:20px;line-height:20px;text-indent:10px;color:#909090;}
.msg_mr_fname a,.msg_mr_fname a:hover{color:#6ca33b;font-weight:bold;}
.msg_mr_tname{width:100%;overflow:hidden;height:20px;line-height:20px;text-indent:10px;color:#909090;}
.msg_mr_tname a.msg_mr_tname a:hover{color:#909090;}
.msg_mr_time{width:100%;overflow:hidden;height:20px;line-height:20px;text-indent:10px;color:#909090;padding-bottom:10px;border-bottom:2px #F08300 solid;}
.msg_mr_con{width:920px;overflow:auto;background-color:#FFF;max-height:400px;line-height:25px;min-height:150px;padding:10px;font-size:14px;color:#646464;}
.msg_mr_bcon{width:100%;overflow:hidden;border-top:1px #d0d0d0 solid;padding-top:20px;}
#warn{float:right;width:120px;height:120px;position:absolute;cursor:pointer;right:250px;top:100px;}

.paginator{font:11px Arial, Helvetica, sans-serif;margin:0px;}
.paginator a{padding:4px;border:solid 1px #ddd;background:#fff;text-decoration:none;margin-left:2px;display:inline;display:inline-block;height:15px;}
.paginator a:visited{padding:4px;border:solid 1px #ddd;background:#fff;text-decoration:none;}
.paginator .cpb{padding:4px;font-weight:bold;font-size:13px;border:none}
.paginator a:hover{color:#fff;background:#f08300;border-color:#f08300;text-decoration:none;}