@charset "gb2312";
.td_menu{clear: both;height:50px;width: 970px;background-color:white;border-bottom:1px #D0D0D0 solid;}
.td_m_i,a.td_m_i:hover{display:block;width:105px;height:50px;border-right:1px #d0d0d0 solid;float:left;cursor:pointer;text-decoration: none;overflow:hidden;}
.td_m_is{border-bottom:1px #f7f7f7 solid;background-color:#f7f7f7;}
.td_m_iso{height:50px;float:right;}
.td_m_cb{width:100%;height:20px;}
.td_img{background-image:url(../images/msg_ico.png);background-repeat:no-repeat;}
.td_m_img{display:block;width:40px;height:25px;margin:0px auto;}
.td_m_all{background-position:-322px -88px;}
.td_m_all_s{background-position:-322px -125px;}
.td_m_up{background-position:-288px -89px;}
.td_m_up_s{background-position:-288px -126px;}
.td_m_com{background-position:-288px -164px;}
.td_m_com_s{background-position:-288px -196px;}
.td_m_sc{background-position:-322px -163px;}
.td_m_sc_s{background-position:-321px -195px;}
.td_m_name,.td_m_name_s{display: block;width:100%;height:25px;text-align:center;font-size:14px;line-height:28px;color:#646464;}
.td_m_name_s{color:#e4393c;}
.td_m_tstr,.td_m_tstr_s{display:block;width:100%;height:50px;line-height:50px;text-align:center;color:#646464;font-size:15px;}
.td_m_tstr_s{color:#e4393c;}
.btn_td_t{ margin:2px 0;line-height:22px; font-size:14px;font-weight:bold;}
.btn_td_m{ width:150px; float:left;margin:10px 0; line-height:22px; font-size:14px;}
.btn_td_m a{ color:Red;}
.red {color: red;}
th{height:30px;line-height: 30px;background-color:#fff;font-size:12px;font-weight:normal;color:#646464;text-align:center;}

.td_s_link{clear:both;height:38px;width:970px;background-color:#F7F7F7;border-bottom:1px #D0D0D0 solid;}
.td_s_l_i,.td_s_l_i_s{display:inline;float:left;width:73px;height:23px;line-height:23px;color:#646464;font-size:14px;text-align:center;}
a.td_s_l_i:hover,a.td_s_l_i_s:hover,.td_s_l_i_s{background-image:url(../images/msg_ico.png);background-repeat:no-repeat;background-position:-11px -183px;color:#FFF;text-decoration:none;}
.td_s_l_ib,.td_s_l_ib_s,.td_s_l_ilb,.td_s_l_ilb_s{display:inline;float:left;height:23px;line-height:23px;color:#646464;font-size:14px;text-align:center;width:87px;text-indent:10px;background-image:url(../images/msg_ico.png);background-repeat:no-repeat;background-position:-105px -237px;}
.td_s_l_ilb{background-position:-106px -307px;}
a.td_s_l_ib:hover,a.td_s_l_ib_s:hover,.td_s_l_ib_s,a.td_s_l_ilb:hover,a.td_s_l_ilb_s:hover,.td_s_l_ilb_s{width:87px;text-indent:10px;background-image:url(../images/msg_ico.png);background-repeat:no-repeat;background-position:-105px -183px;color:#FFF;text-decoration:none;}

.td_m_isb{display:inline;float:right;margin:12px 25px 0px 0px;height:27px;width:360px;background-position:-0px -418px;overflow:hidden;}
.td_m_issel{color:#646464;border:0px;height:27px;line-height:27px;width:70px;padding-left:4px;background:none;outline:none;}
.td_m_iskey{border:0px;height:19px;line-height:19px;width:223px;background:none;text-indent:22px;padding:4px 0px;}
.td_m_isbut{border:0px;height:27px;line-height:27px;width:62px;background:none;cursor:pointer;}
.td_m_menu{width:100%;overflow:hidden;margin-bottom:10px;position:relative;z-index:1;}
.td_m_menu a{border-bottom:3px #FFF solid;color:#646464;}
.td_m_menu a:hover,a.td_m_masel{border-bottom:3px #e4393c solid;color:#e4393c;background-color:#f7f7f7;text-decoration:none;}
.td_m_mbor{width:100%;height:1px;overflow:hidden;background-color:#e4393c;position:absolute;bottom:1px;_bottom:0px;left:0px;z-index:2;}
.td_m_isb1{display:inline;float:right;margin:12px 15px 0px 0px;height:27px;width:300px;overflow:hidden;border:1px #D0D0D0 solid;background-color:#F7F7F7;}
.td_m_iskey1{padding:3px 3px 3px 23px;height:21px;line-height:21px;border:0px;width:180px;color:#636363;}
.td_m_isbut1{width:94px;border:0px;background-color:#e4393c;height:27px;line-height:27px;color:white;text-align:center;cursor:pointer;}

.col91{color:#919191;}
.colf0{color:#e4393c;}
.col6c{color:#6ca33b;}
.td_cz_tbcon{width:940px;overflow:hidden;margin-bottom:10px;}
.td_cz_tbl{width:940px;background-color:#e5e5e5;}
.td_cz_tbl td{padding:10px;vertical-align:middle;}
.td_cz_tr td{background-color:#FFF;border:1px solid #e5e5e5;}
.td_cz_trc td{background-color:#f7f7f7;}
.td_cz_trsel td{background-color:#EEE;}
.td_cz_tblimg{width:120px;text-align:center;}
.td_cz_tblimg img{width:120px;height:120px;border:1px #e5e5e5 solid;}
.td_cz_tblinfo{width:260px;}
.td_cz_tblcom{width:160px;}
.td_cz_tblcz{text-align:center;}
.td_cz_ifb{width:100%;overflow:hidden;height:25px;line-height:25px;color:#646464;}
.td_cz_ifbut{height:25px;line-height:25px;width:80px;margin:0px auto;}
div.td_cz_ifbut a{float:left;width:80px;text-align:center;display:inline;height:25px;line-height:25px;color:blue;}
div.td_cz_ifbut a:hover{background-color:#f7f7f7;color:#e4393c;}
.btn_blue{border: 0px;width:60px;height:28px;line-height:28px;margin-top:15px;cursor:pointer;font-size:14px;color:#fff;font-weight:bold;text-align:center;background-color:#6ca33b;border-radius:5px;_background-image:url(../images/msg_ico.png);_background-repeat:no-repeat;_background-position:-84px -104px;}

.td_tblcom tr{cursor:pointer;color:#646464;}
.td_tblcom th{ height:40px; line-height:40px; border:1px solid #e5e5e5; }
.td_tblcom td{ height:30px; line-height:30px; border:1px solid #e5e5e5;}
.td_tdcom_con p{ padding:5px;}
.td_tdcom_con p a{ color:#e4393c; text-indent:5px;}
.td_tblcom a.td_cz{ padding:3px 4px; color:#6ca33b;}
.td_tblcom a.td_cz:hover{background-color:#6ca33b; color:#fff;text-decoration: none;}
.td_tblcom a.td_czd{ padding:3px 4px; color:#e4393c;}
.td_tblcom a.td_czd:hover{background-color:#e4393c; color:#fff;text-decoration: none;}

.allCheckbox,.Checkbox,.Checkboxed{ margin:0px auto;width:15px;height:15px;border:1px solid #d0d0d0;cursor:pointer;background-position:15px 15px; overflow:hidden;}
.Checkboxed{background-position: -225px -53px;}
.allCheckbox{margin-top:3px;}


.td_pt_box{width:100%;overflow:hidden; height:26px; line-height:26px; padding:5px 0px;}
.td_pt_allCheck{float:left; width:50px;height:24px;border:1px solid #d0d0d0;border-radius:5px;}
.td_pt_pb{float:left;width:50px;height:24px; line-height:24px;text-align: center;border:1px solid #d0d0d0; margin-left:15px; cursor:pointer; color:#646464;border-radius:5px;}

.td_pt_pages{width:500px; height:26px; overflow:hidden; float:right;}
.p_input_html{float:right;height:26px; line-height:26px; width:100px;}
.p_info_html span{color:#e4393c;}
.p_input_page{text-align:center; margin:0px 3px; width:30px;height:20px;line-height:20px;border:1px solid #d0d0d0;border-radius:5px;}
.p_input_go{height:20px;border:1px solid #d0d0d0;margin-left:4px;font-family:Arial;font-size:10px;cursor:pointer;border-radius:5px;}
.nextpage,.uppage,a.nextpaged:hover,a.uppaged:hover{display:inline; float:right; width:50px;height:24px; line-height:24px;text-align: center;border:1px solid #d0d0d0; margin-right:10px; cursor:pointer; color:#646464;text-decoration: none;border-radius:5px;}
.p_info_html{float:right; height:26px; line-height:26px; width:100px; text-align:right; font-weight:bold; overflow:hidden; margin-right:10px;}

.td_ggxx{height:26px;line-height:26px;border:1px #F26161 solid;background-color:#FFE8E8;overflow:hidden;background-position:-220px -216px;text-indent:22px;margin-bottom:5px;}
.td_ggxx a,.td_ggxx a:hover{color:#f26161;text-indent:40px;text-decoration:underline;}
.td_ggxx .gx_close{display:inline;width:30px;height:26px;background-position:-220px -236px;float:right;cursor:pointer;}
.td_rgrx{height:35px;line-height:35px;border-bottom:1px #e5e5e5 solid;background-color:#f7f7f7;overflow:hidden;text-indent:5px;margin-bottom:5px;}
.td_rgrx span{font-weight:bold;color:#e4393c;}
.td_rgrx a{font-weight:bold;color:#6ca33b;}
#ddlPCate,#ddlCate{width:150px;height:25px;line-height:25px;font-size:14px;}

.w80{ width:95px;line-height:25px;font-weight:normal;font-size:12px;text-align:right;}
.w60{ width:65px;line-height:25px;font-weight:normal;font-size:12px;text-align:right;}
.w120{ width:95px;line-height:30px;font-weight:normal;text-align:right;}

.td_box{ margin-top:3px;float:left;}
.td_box .msg{ margin-top:0px;float:left;height:20px;line-height:20px;}
.td_pwd{ width:590px;margin:3px 0 0 0;float:left;}
.td_pwd ul{ width:100%;line-height:35px;float:left;}
.td_pwd ul li{ height:25px;padding:5px 0px;float:left;width:100%;}

.btn_y80_25,.btn_b80_25{height:28px;border:none;width:94px;background-position:-12px -46px;color:#ffffff;font-size:14px;line-height:28px;font-weight:bold;cursor:pointer;}
.btn_b80_25{background-position:-114px -46px;color:#646464;}
/* Complete */
#thumbnails { PADDING:5px 10px 5px 0;LIST-STYLE-TYPE:none;float:left;WIDTH:900px;HEIGHT:auto;LIST-STYLE-IMAGE:none;margin:0;}
.portlet,.portlet1{display:inline;BACKGROUND:#fff;WIDTH:130px;height:auto;CURSOR:move;float:left;margin:0px;padding:0px;margin-right:20px;}
.portlet:hover img ,.portlet1:hover img{border:1px solid #e4393c;}
.portlet:hover .portlet_topper A ,.portlet1:hover .portlet_topper A{background-position:-332px -18px;}
.portlet_topper {height:15px;width:130px;text-align:right;position:relative;}
.portlet_topper A {background-image:url(../images/msg_ico.png);background-repeat:no-repeat;width:18px;height:18px;display:block;position:absolute;right:-8px;margin-top:5px;cursor:pointer;background-position:-332px -55px;overflow:hidden;text-indent:10000px;line-height:18px;}
.portlet_content {width:130px;height:130px;}
.portlet_content img{width:128px;height:128px;border:1px solid #e5e5e5;}
.sort_placeholder { BACKGROUND:#bba}
.blue1 {background-color:#f7f7f7;width:580px;overflow:hidden;margin:0px auto;padding:5px 10px;margin-top:10px;}
.progressName{font-size:12px;font-weight:700;color:#555;width:150px;height:14px;text-align:left;white-space:nowrap;overflow:hidden;float:left;margin-right:5px;}
.progressBarInProgress,.progressBarComplete,.progressBarError {font-size:0;width:0;height:6px;background-color:#6da238;margin:4px 0px;float:left;}
.progressBarComplete{width:100px;background-color:green;visibility:hidden;float:left;}
.progressBarError {width:100%;background-color:red;visibility:hidden;}
.progressBarStatus{width:250px;font-size:8pt;	font-family:Arial;	text-align:left;white-space:nowrap;float:left;color:#929292;}
a.progressCancel{font-size:0;display:block;height:14px;width:14px;float:right;float:left;}
a.progressCancel:hover {background-position:0px 0px;}
/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {vertical-align:top;}
#btndiv{overflow:hidden}
.delbox{position:absolute;float:right;display:block;z-index:100;background:#E6E6E6;width:120px;text-align:right;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);}

.td_cz_bcon{width:940px;overflow:hidden;}
.td_cz_bconl{float:left;width:940px;}
.td_cz_bname,.td_cz_bflbox{float:left;width:938px;height:40px;line-height:40px;border:1px #E5E5E5 solid;text-indent:10px;}
.td_cz_bflbox{border-bottom:0px;}
.td_cz_bnspan{display:block;height:40px;line-height:40px;}
#txtProdName{border:1px solid #ccc;outline:0;height:25px;line-height:25px;margin:0px;padding:0px;margin-top:7px;}
.td_cz_bflone{float:left;display:inline;width:298px;border:1px #E5E5E5 solid;border-top:0px;text-indent:10px;height:40px;line-height:40px;}
.td_cz_bfltwo{float:left;display:inline;width:299px;border:1px #E5E5E5 solid;border-top:0px;text-indent:10px;margin-left:-1px;height:40px;line-height:40px;}
.div_Attribute{float:left;width:928px;border:1px #E5E5E5 solid;border-top:0px;border-bottom:0px;padding-left:10px;}
.divAttribute{float:left;width:558px;}
.divAttribute li{width:100px;float:left;margin:5px 5px 5px 0;background-color:#EEE;padding:4px;display:inline;}
.divAttribute li span{display:block;height:20px;line-height:20px;text-indent:5px;}
.divAttribute li select,#sel_JDS{width:90px;height:22px;line-height:25px;border:1px #EEE solid;margin-top:5px;font-size:12px;outline:none;background-color:#FFF;}
#tr_Jianding{float:left;width:938px;border:1px #E5E5E5 solid;border-top:0px;padding:5px 0px;}
.td_cz_dxobj{float:left;width:928px;border:1px #E5E5E5 solid;border-top:0px;padding:5px 0px 5px 10px;;height:30px;line-height:30px;}
.td_cz_msinfo{float:left;width:928px;border:1px #E5E5E5 solid;padding:5px 0px 5px 10px;}
#txtContent{border:1px solid #ccc;outline:0;margin:0px;padding:0px;line-height:20px;resize:none;overflow:hidden;}
.td_cz_uppic{float:left;width:928px;border:1px #E5E5E5 solid;border-top:0px;padding:5px 0 5px 10px;}
.up_pictyple{padding-left:10px;margin-top:-2px;color:#999999;line-height:16px;width:350px;}
.td_cz_bconr{float:left;display:inline;width:240px;border-top:#e5e5e5;margin-left:15px;}
.td_cz_nmlen,.td_cz_msg{height:40px;line-height:40px;color:#919191;}
.td_cz_nmlen{width:240px; float:left; margin-left:5px;}
.td_cz_splb{width:240px;height:40px;line-height:20px;color:#919191; float:left; margin-left:10px;}
#divFileProgressContainer{width:600px;}
.td_release{width:100%;text-align:center;padding:15px 0px;}

.select_box{width:182px;position:relative;margin:0px;padding:0;font-size:12px;float:left;margin-top:7px;}
.select_box input{cursor:pointer;display:block;line-height:25px;width:150px;height:25px;overflow:hidden;border:1px solid #ccc;padding-right:20px;padding-left:10px;color:#656565;}
.select_box ul{width:180px;position:absolute;padding:0px;margin:0px;margin-top:25px;border:1px solid #ccc;overflow:hidden;display:none;background-color:#f7f7f7;z-index:2;color:#656565;}
.select_box ul li{display:block;height:30px;overflow:hidden;line-height:30px;padding-left:5px;width:175px;cursor:pointer;}
/* .hover{background:#6da238;color:#FFFFFF;} */

.td_m_issbox{height:27px;width:74px;background:none;}
.td_m_issbox input{cursor:pointer;display:block;color:#646464;border:0px;height:27px;line-height:27px;width:70px;padding-left:4px;background:none;outline:none;}
.td_m_issbox ul{width:72px;position:absolute;padding:0px;margin:0px;margin-top:26px;border:1px solid #ccc;overflow:hidden;display:none;background-color:#f7f7f7;z-index:2;color:#656565;}
.td_m_issbox ul li{display:block;height:25px;overflow:hidden;line-height:25px;padding-left:4px;width:68px;cursor:pointer;}
.hoversel{background:#6da238;color:#FFFFFF;}

.td_cz_box{width:940px;padding:15px;overflow:hidden;background-color:#FFF;}
.td_tc_page{width:100%;overflow:hidden;padding:5px 0px;text-align:right;}
.paginator{font:11px Arial, Helvetica, sans-serif;margin:0px;width:auto;}
.paginator a{padding:4px 8px;border:solid 1px #ddd;background:#fff;text-decoration:none;margin-left:2px;display:inline;display:inline-block;height:15px;}
.paginator a:visited{padding:4px 8px;border:solid 1px #ddd;background:#fff;text-decoration:none;}
.paginator .cpb{padding:4px 8px;font-weight:bold;font-size:13px;border:none}
.paginator a:hover{color:#fff;background:#e4393c;border-color:#e4393c;text-decoration:none;}





/*2016-08-08*/
.synch-relative{ position:relative;}
.synch-rule{ color:#09f; line-height:22px; cursor:pointer;}
.little-tip{position: absolute; top: -68px; left: 86px; z-index: 4; padding:15px; font-size: 14px; color: #fff; text-align: center; background: #383843; border-radius:5px;}
.little-synchsan{ position:absolute; left:20px; bottom:-4px; width:10px; height:4px;}
.little-tip p{ color:#fff; line-height:20px;}
.little-tip .tip-know{ text-decoration: underline; cursor: pointer; color:#ff7f00; text-align:right;}
.synch-body{ width:100%; height:100%;}
.trade-overlay{ display:none;background: #000;opacity: 0.3; filter: Alpha(opacity=30);left: 0;position: absolute;top: 0; z-index:1000; }
.trade-deposit{ display:none; position:absolute;z-index:10001; border-radius:5px; background:#fff;font-family:"Microsoft YaHei","Hiragino Sans GB","tahoma";max-width:500px;min-width:320px;max-height:500px;min-height:200px; overflow:hidden;margin:0 auto;}
.trade-Stitle{ height:40px; line-height:40px; text-indent:21px; width:100%; font-size:16px; font-weight:bold; color:#000; background:#eaeaea;}
#trade-Sclose{ position:absolute; right:8px; top:8px; width:20px; height:20px; cursor:pointer; line-height:20px; text-align:center; font-size:24px; font-family:"arial","Hiragino Sans GB","tahoma";}
.trade-deposit-bd{ padding:24px; clear:both; overflow:hidden;}
.trade-dep-left{ float:left; width:310px; margin-right:20px; color:#666; }
.trade-prompt{font-size:14px; margin-bottom:20px;line-height:24px;}
.trade-careful{ font-size:12px;line-height:20px;}
.trade-careful span{ color:#f00;}
.trade-dep-right{ float: right; width:104px;}
.trade-dep-right img{ width:104px; height:104px; display:block;}
.trade-dep-right p{ text-align:center; font-size:12px; color:#999; line-height:20px; margin:6px 0 20px;}
.trade-button{ width:100%; height:28px; line-height:28px; text-align:center; background:#ff7f00; color:#fff; border-radius:3px; cursor:pointer;}

.an-import{ position:relative; float:left; margin:10px 0 0 40px;}
.an-import .little-tip{ width:100%; left:0; top:-100px;}
.import-btn{ width:154px; height:28px; line-height:28px; text-align:center; background:#ff7f00; color:#fff; border-radius:3px; cursor:pointer;}
.import-text{ line-height:20px; font-size:14px; color:#666; width:268px; border-radius:3px; cursor:pointer;}
.import-operation{ margin-top:20px;}
.import-confirm,.import-cancel{ display:inline-block;float:right; width:60px; height:26px; line-height:26px; text-align:center; border-radius:3px; cursor:pointer;}
.import-confirm{border:1px solid #ff7f00; background:#ff7f00; color:#fff;}
.import-cancel{ border:1px solid #ccc; background:#fff; color:#666; margin-right:15px;}
.trade-prompt img{ float:left; margin-right:8px;}
.import-success{ display:none;}
.trade-Sclose{ position:absolute; right:8px; top:8px; width:20px; height:20px; cursor:pointer; line-height:20px; text-align:center; font-size:24px; font-family:"arial","Hiragino Sans GB","tahoma";}

#markClose {position: absolute;right: 8px;top: 8px;width: 20px;height: 20px;cursor: pointer;line-height: 20px;text-align: center;font-size: 24px;font-family: "arial","Hiragino Sans GB","tahoma";}
#mark-overlay{ display:none; height:100%;background: #000;opacity: 0.3;filter: Alpha(opacity=30);left: 0;position: absolute;top: 0;z-index: 1000;}
.policyFee{ display:none;position: absolute;left: 50%;top: 50%;width: 430px;height: 185px;z-index: 10001;overflow: hidden;background: #fff;font-family: "Microsoft YaHei","Hiragino Sans GB","tahoma";overflow:hidden;border-radius: 5px;}
.policyFee p{ font-size:12px; color: #999; line-height: 20px; margin:10px 20px;}
.policyFee h3{
    height: 35px;
    line-height: 35px;
    background: #eaeaea;
    text-align: left;
    text-indent: 20px;
    font-size: 18px;
}
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden}
.clearfix{*zoom:1}
.expressFee {
    padding-top: 6px;
    height: 75px;
    position: relative;
    border-top: none;
    border-bottom: 1px solid #E5E5E5;
}
.expressFee p{
    color: #000;
    line-height: 22px;
    clear: both;
}
.expressFee input{
    margin: 0 3px;
}
.expressFee input[type='text']{
    width: 100px;
    line-height: 20px;
    margin:0 5px;
}
.policy{
    position: absolute;
    left: 380px;
    top: 5px;
    line-height: 22px;
    color: #09f;
    text-decoration: underline;
    cursor: pointer;
}
.boutique_sure{
    border: 1px solid #ff7f00;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 25px;
    width: 60px;
    background: #ff7f00;
    border-radius: 4px;
    margin: 0 auto;
}


/*2016-12-16*/
.orange{ color:#ff7f00;}
.add_tblcz{ color:#999; line-height:20px; padding:10px 0;}
.add_tblcz a{ color:#09f; display:block;}
.td_cz_tbldet{ width:100px;}
div.td_ifbut a{ color:#09f;}
div.td_ifbut a:hover{ background:none;}

/* 2017-06-22 */
.isfixedprice {
    height:60px;
}
    .isfixedprice p {
        line-height:28px;
    }