.pa3 {padding:3px;}
.wid80 {width:80px;}
.wid100 {width:100px;}
.wid120 {width:120px;}
.clear {clear:both;}
.ml70 {margin-left:66px;}
.Gr { color:#6ac33b;}
.Orange {color:#E4393C}
.Red {color:#F00;}

.menu_img {display:block; width:26px; height:20px; margin:5px auto; background:url(../images/UserInfo_ico.png) no-repeat;}
.info_Title {margin:0px 30px; font-weight:700; font-size:13px;}
.btnSave {background-color:#E4393C; border-radius:5px; border:0px; color:#FFFFFF; font-weight:700; font-size:16px;text-align:center;cursor:pointer; padding:5px;}
.btnSave:hover {background-color:#faa947;}

.menu .userinfo_m_base_n {background-position:-28px -1px;}
.menu .userinfo_m_base_y {background-position:1px -1px;}
.menu .userinfo_m_portrait_n {background-position:-28px -20px;}
.menu .userinfo_m_portrait_y {background-position:1px -20px;}
.menu .userinfo_m_Mobile_n {background-position:-28px -40px;}
.menu .userinfo_m_Mobile_y {background-position:1px -40px;}
.menu .userinfo_m_mail_n {background-position:-28px -60px;}
.menu .userinfo_m_mail_y {background-position:1px -60px;}
.menu .userinfo_m_code_n {background-position:-30px -77px;}
.menu .userinfo_m_code_y {background-position:0px -77px;}
.menu .userinfo_m_cred_n {background-position:-28px -95px;}
.menu .userinfo_m_cred_y {background-position:2px -95px;}
.menu .userinfo_m_car_n {background-position:-28px -113px;}
.menu .userinfo_m_car_y {background-position:2px -113px;}
.menu .userinfo_m_lock_n {background-position:-28px -132px;}
.menu .userinfo_m_lock_y {background-position:2px -132px;}
.menu .userinfo_m_login_n {background-position:-28px -155px;}
.menu .userinfo_m_login_y {background-position:2px -155px;}

.step {width:600px; margin:30px 0 0 80px;}
.step .step1 { width:100px; float:left; text-align:center; overflow:hidden;}
.step .step1 .stepImg_n {width:40px; height:40px; text-align:center; font-size:14px; font-weight:700; line-height:42px; color:#FFFFFF; background-position:-118px -1px;}
.step .step1 .stepImg_y {width:40px; height:40px; text-align:center; font-size:14px; font-weight:700; line-height:42px; color:#FFFFFF; background-position:-70px -1px;}
.step .step1 .stepImg_end_n {width:40px; height:40px; text-align:center; font-size:14px; font-weight:700; line-height:42px; color:#FFFFFF; background-position:-118px -47px;}
.step .step1 .stepImg_end_y {width:40px; height:40px; text-align:center; font-size:14px; font-weight:700; line-height:42px; color:#FFFFFF; background-position:-70px -47px;}

.userinfo_table  {margin-top:10px; margin-left:20px; font-size:14px; color:#646464;}
.userinfo_table tr {padding:5px; height:40px;}
.userinfo_table .goto a {font-weight:700; color:#3366cc; margin-left:20px;}
.userinfo_table .col1 {width:180px; text-align:right;font-weight:bold;}
.userinfo_table .col2 {width:770px; padding:5px 10px;}
.userinfo_table .col2_1 {width:180px; padding:5px 10px;}
.userinfo_table .ddl  {height:34px; padding:3px; font-size:12px;outline:none;}
.userinfo_table .tab {float:left; height:30px; line-height:30px;}
.userinfo_table .prompt {font-size:12px; margin-top:5px;}
.userinfo_table .btnSave {width:96px; height:30px; background-color:#E4393C; border-radius:5px; border:0px; color:#FFFFFF; font-weight:700; /* font-size:16px; */ text-align:center;cursor:pointer;}
.userinfo_table .btnSave:hover {background-color:#EF0000;}
.userinfo_table .btnRe {width:96px; height:30px; margin-left:40px; background-color:#919191; border-radius:5px; border:0px; color:#eeeded; font-weight:700; font-size:16px; line-height:30px; text-align:center;}
.userinfo_table .btnRe:hover {background-color:#a1a0a0;}
.userinfo_table .over_ico {width:48px; height:36px;  background-position:-165px -2px; margin-left:150px;}
.userinfo_table .code_to_tel {width:200px; background-color:#ededef; font-size:12px; font-weight:100; color:#3366cc;}

.mright .remind {width:600px; margin-left:20px; padding:20px; margin-top:30px; background-color:#f7f7f7; line-height:24px; color:#646464;}
.mright .remind a {text-decoration:inherit; color:#3366cc;}
.mright .remind1 .title {color:#6ac33b; font-weight:700; line-height:30px; margin-left:40px;}
.mright .remind1 .show {width:570px; padding:10px 0 20px 30px; margin-left:20px; border:1px solid #6ac33b;}
.mright .remind1 .show a {color:#3366cc;}
.mright .remind1 .show li {list-style-type:disc; padding:5px 10px; color:#646464;}
.mright .remind1 .show1 {width:570px; padding:10px 0 30px 10px; margin-left:20px; border:1px solid #6ac33b;}
.mright .remind1 .show1 li {list-style-type:none; padding:5px 10px; color:#646464;}

.list_table {margin:10px 0 0 20px; border-collapse:collapse; border:none; color:#646464;}
.list_table th {background-color:#f7f7f7; text-align:center; font-weight:100; padding:5px; border:1px solid #e5e5e5;}
.list_table td {border:1px solid #e5e5e5; padding:5px; }
.list_table .col1 {width:100px; text-align:center;}
.list_table .col2 {width:550px;}
.list_table .col3 {width:150px; text-align:center;}

.list_info {width:720px; padding:40px 15px 10px 15px; margin-left:20px; border-bottom:1px solid #e5e5e5; color:#646464;}
.list_info .imgico1 {width:45px; height:45px; float:left; margin:0px; background-position:-223px -3px;}
.list_info .imgico12 {width:45px; height:45px; float:left; margin:0px; background-position:-273px -3px;}
.list_info .imgico13 {width:45px; height:45px; float:left; margin:0px; background-position:-322px -3px;}
.list_info .imgico2 {width:45px; height:45px; float:left; margin:0px; background-position:-223px -45px;}
.list_info .imgico22 {width:45px; height:45px; float:left; margin:0px; background-position:-273px -45px;}
.list_info .imgico23 {width:45px; height:45px; float:left; margin:0px; background-position:-322px -45px;}
.list_info .ico-card-0 {width:45px; height:45px; float:left; margin:0px; background-position:-5px -215px}
.list_info .ico-card-1 {width:45px; height:45px; float:left; margin:0px; background-position:-5px -175px}
.list_info .imgico14 {width:75px; height:75px; float:left; margin:0px; margin-left:20px; background-position:-60px -98px;}
.list_info .imgico15 {width:75px; height:75px; float:left; margin:0px; margin-left:20px; background-position:-145px -98px;}
.list_info .imgico16 {width:75px; height:75px; float:left; margin:0px; margin-left:20px; background-position:-228px -98px;}
.list_info .imgico17 {width:75px; height:75px; float:left; margin:0px; margin-left:20px; background-position:-314px -98px;}
.list_info .imgico18 {width:75px; height:75px; float:left; margin:0px; margin-left:20px; background-position:-60px -180px;}
.list_info .litite {width:100px; height:45px; line-height:45px; float:left; margin-left:30px; font-size:14px; font-weight:700; }
.list_info .litite1 {width:100px; height:75px; line-height:75px; float:left; margin-left:100px; font-size:14px; font-weight:700; }
.list_info .liInfo {width:385px; font-size:12px; font-weight:100;}
.list_info .liInfo1 {width:305px; font-size:12px; font-weight:100;}
.list_info .litite1 a {display:block; width:96px; margin-top:25px; height:30px; background-color:#E4393C; border-radius:5px; border:0px; color:#FFFFFF; font-weight:700; font-size:16px; line-height:30px; text-align:center;}
.list_info .lia a{background-color:#919191;color:#eeeded;}

.btnSave1 {width:60px; height:21px; background-color:#E4393C; border-radius:5px; border:0px; color:#FFFFFF; font-size:14px; line-height:21px; text-align:center;cursor:pointer;}
.btnSave1:hover {background-color:#faa947;}
.btnSave2 {width:60px; height:21px; background-color:#6ac33b; border-radius:5px; border:0px; color:#FFFFFF; font-size:14px; line-height:21px; text-align:center;cursor:pointer;}
.btnSave2:hover {background-color:#5cb92c;}

.userinfo_table .pf-avatar-box {border-spacing:0px;display:inline-block;position:relative;}
.userinfo_table .pf-avatar-box .pf-avatar {display:table-cell; width:80px; height:80px; vertical-align:middle; text-align:center; *display:block; *font:400 68px/1.5 simsun;}
.userinfo_table .pf-avatar-box .pf-avatar img {vertical-align: middle;}
.userinfo_table .pf-avatar-box .pf-edit-avatar {background: #000 ;background-position: 10px 6px; position: absolute;bottom: 0;left: 0;width: 100%;height: 21px;line-height: 21px;/*text-indent: 24px;*/text-align: center;color: #e1d7ca;opacity: .7;filter: alpha(opacity=70);display: none;}

.safe-grade {height:60px; line-height:74px; bottom:0px; font-weight:700;}
.UserCard .reg-form {margin:20px 0 30px 20px;}
.UserCard .reg-form .uc-table1 span {color:Red}
.UserCard .reg-form .uc-table1 .column1 {text-align:right; padding:5px; width:70px;}
.UserCard .reg-form .uc-table1 .column2 {width:420px;}
.UserCard .reg-form .uc-table1 .card-img {margin:5px; max-width:500px; padding:5px;}
.reg-card { z-index:0; position:absolute; width:248px; background: url(../images/card-247-498.png) no-repeat; height:498px; top: 80px; right: 2%;}
.UserCard .reg-card img { margin:43px 10px 5px 14px; width:228px; height:auto;}
.UserCard .uc-table2 td { height:30px; line-height:30px;}
.UserCard .uc-table2 .column1 {text-align:right; padding:5px; width:80px;}
.UserCard .uc-table2 .column2 {width:140px;}
.UserCard .uc-table2 .column3 {width:420px; padding-left:8px;}
.UserCard .uc-table2 .attRealName,.UserCard .uc-table2 .attCardNo { border:1px solid #40b3ff; color:#404040; display:none; padding:3px 3px 3px 30px;}
.UserCard .uc-table2 .errorRealName {width:130px;  border:1px solid #ff8080; color:#404040; display:none; padding:3px 3px 3px 30px;}
.UserCard .uc-table2 .errorCardNo {width:230px;  border:1px solid #ff8080; color:#404040; display:none; padding:3px 3px 3px 30px;}
.UserCard .uc-table2 #thumbnails {padding-top:5px; height:auto;}
.UserCard .uc-table2 .portlet {border:1px solid #aaa; background:#fff; margin:5px 8px; cursor:move; float:left;}
.UserCard .uc-table2 .portlet_topper {width:100%; background-color:#f1f1f1; text-align:right;}
.UserCard .uc-table2 .portlet_topper a {color:#443; font-weight:bold; display:block; margin-right:10px;}
.UserCard .uc-table2 .portlet_content {padding:5px; border-top:1px solid #998;}
.UserCard .uc-table2 .portlet_content img {max-width:145px;}
.UserCard .uc-table2 .tj-btn {padding:0 20px; margin-left:100px; background-color:#E4393C; border-radius:5px; border:0px; color:#FFFFFF; font-weight:700; font-size:16px; line-height:30px; text-align:center;cursor:pointer;}

.ChangePayPasswd .cpp-table1 {margin:20px 0 0 20px;}
.ChangePayPasswd .cpp-table1 td {padding:8px 5px;}
.ChangePayPasswd .cpp-table1 span {color:#656565; margin-left:20px;}

.UserPwd .up-input1 { margin-top:20px; margin-left:20px; background-color:#646464;}
.UserPwd .up-input1-col1 {clear:left; float:left; width:80px; text-align:right;}
.UserPwd .up-input1-col2 { float:left;}
.UserPwd .up-input1-col3 { float:left;}

.input-text {width:150px; height:16px;padding:6px 5px 6px 5px;border: 1px solid #d0d0d0;float: none;font-size: 12px;font-family: arial,"����";outline:none;} 
	
.twosytle {position:relative;top:1px;color:#000;float:left;text-align:center;padding:0px 10px;font-family:Arial,Verdana,Tahoma,"����";font-size:12px;font-weight:normal;display:inline-block;line-height:29px;height:27px;_height:25px;_padding-top:2px;_line-height:25px;border:0;border-bottom:2px #FFF solid; border-bottom-color:#E4393C;}
.n_bl_menu .twosytle1 { font-weight:700;}

.SaleInfoTable {border-collapse:collapse; border:none; color:#656565; margin:0px 10px;}
.SaleInfoTable td {border:solid #e3e3e3 1px; padding:7px; }
.SaleInfoTable th {border:solid #e3e3e3 1px; padding:7px; font-weight:700; text-align:center; }

.w80{ width:95px; line-height:25px; font-weight:normal; font-size:12px; text-align:right;}
.swfupload {
	vertical-align: top;
}

#divFileProgressContainer{ width:100%; float:left; margin-left:31px;}
.progressWrapper {
	width: 450px;
	overflow: hidden;	
}
.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
.blue1 {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}
a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
	float:left;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}
.progressName {
	font-size: 12px;
	font-weight: 700;
	color: #555;
	width: 150px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	float:left;
	margin-right:5px;
}
.progressBarStatus {
	width: 250px;
	font-size: 8pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
	float:left;
}
.progressBarComplete {
	font-size: 0;
	width: 0;
	height: 5px;
	background-color: #009900;
	margin-top: 2px;
	float:left;
	width: 100px;
	background-color: green;
	visibility: hidden;
	float:left;
}
.ImfldCardPhoto {max-width:243px; min-height:153px; margin-left:20px; padding:5px; border:1px solid #b4b4b4;border-width: 1px;}

.AccountSummary a{color:#3366cc;}
.AccountSummary h2 {color:#646464; margin:20px 0 0 20px;}
.AccountSummary table{margin:10px 0 0 20px; border-collapse:collapse; border:none; color:#646464;}
.AccountSummary th {background-color:#f7f7f7; text-align:center; font-weight:100; padding:5px; border:1px solid #e5e5e5;}
.AccountSummary td {padding:5px; }
.AccountSummary .Small {font-size:14px; font-weight:normal; margin-left:20px;}
.AccountSummary .remind {margin-bottom:30px;}
.AccountSummary .table1 .col1 {text-align:right; padding-left:10px; color:#383838;}
.AccountSummary .table1 td {border:0; padding:10px 0 10px 60px;}
.AccountSummary .table1 .u-PayPwd,.u-mobile,.u-mail,.u-Paimai{ width:100px; display:inline-block;}
.AccountSummary .table2 .valign1{padding-top:35px; font-weight:700}
.AccountSummary .table3 {margin:20px 0 0 40px;line-height:22px;}
.AccountSummary .table3 td{ padding-left:20px;}
.AccountSummary .table3 .ico-state {background: url(../images/UserInfo_ico.png) no-repeat; width:45px;height:45px;float:left;margin:0px;}
.AccountSummary .table3 .ico-pwd-0 {background-position:-223px -45px;}
.AccountSummary .table3 .ico-pwd-1 {background-position:-223px -3px;}
.AccountSummary .table3 .ico-mobile-0 {background-position:-273px -45px;}
.AccountSummary .table3 .ico-mobile-1 {background-position:-273px -3px;}
.AccountSummary .table3 .ico-mail-0 {background-position:-322px -45px;}
.AccountSummary .table3 .ico-mail-1 {background-position:-322px -3px;}
.AccountSummary .table3 .ico-mail-2 {background-position:-322px -3px;}
.AccountSummary .table3 .ico-card-0 {background-position:-5px -215px}
.AccountSummary .table3 .ico-card-1 {background-position:-5px -175px}

#myAddress {margin:20px; min-height:516px;}
#myAddress h2{color:#646464;}
#myAddress #errorMsg {margin:10px 20px;background:#FFF8CF;border:1px dotted #FFC000;padding:5px 10px;;color:red}
#myAddress #errorMsg li {list-style:disc inside;line-height:22px;}
#myAddress .current-item {}
#myAddress .from-box {width:530px; margin-top:20px;}
#myAddress .from-box td {padding-bottom:10px;}
#myAddress .from-box input {padding:5px 6px;}
#myAddress .from-box .col-1 {width:100px; text-align:right; padding-right:10px;}
#myAddress .from-box .btnSave {margin-left:130px;}
#myAddress #txtPostCode,#txtMobile,#txtareaCode,#txtTel,#txtTelExt,#tbPwd {ime-mode:disabled}
#myAddress .SaleInfoTable {width:98%; margin-top:20px;}
#myAddress .SaleInfoTable a {color:#3366cc;}
#myAddress .SaleInfoTable .btnSave1 {margin-left:10px; background-color:#999;}
#myAddress .SaleInfoTable .btnSave2 {margin-left:10px;}
.select-sytle {height: 30px;padding: 3px;font-size: 12px;outline: none;}
